.breadcrumb {
    margin-bottom: 5px;
    a {
        font-size: 13px;
    }
    > li {
        + li {
            &:before {
                font: normal normal normal 13px/1 FontAwesome;
                color: #e78625;
            }
        }
    }
    @media (max-width: $screen-xs-max) {
        >.breadcrumb__item {
            display: none;
            &:nth-last-child(-n+2) {
                display: inline-block;
            }
            &:nth-last-child(n+2):before {
                display: none;
            }
        }
    }
}
