.main-search__btn {
  padding: 14px 33px;
  font-size: 18px;
  position: absolute;
  right: 12px;
  top: 12px;
  font-weight: 500;
  text-transform: uppercase;
  @media(max-width: $screen-xs-max) {
    font-size: 0;
    height: calc(100% - 18px);
    width: 70px;
    right: 9px;
    top: 9px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../../images/svg/search.svg);
    background-size: auto 90%;
    padding: 0;
    height: 27px;
    width: 50px;
  }
}