.card-product-line__old-price {
  font-size: 14px;
  color: #919191;
  font-weight: normal;
  position: relative;
  display: inline-block;
  &:before {
    content: '';
    position: absolute;
    border-top: 2px solid #d00;
    width: 100%;
    top: 7px;
  }
}