.corporate-banner {
    padding: 0 20px;
    background-image: url('../../../images/corporate/corporate.png'), linear-gradient(to right, #252525 0%,#252525 100%,#252525 100%);

    @media (max-width: $screen-xs-max) {
        background-image: linear-gradient(to right, #252525 0%,#252525 100%,#252525 100%);
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        background-image: linear-gradient(to right, #252525 0%,#252525 100%,#252525 100%);
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        background-image: linear-gradient(to right, #252525 0%,#252525 100%,#252525 100%);
    }
}