.corporate-banner__description {
    margin-bottom: 48px;

    &, a, a:hover {
        color: #fff;
        font-family: $font-PT;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-decoration: none;
    }

    a {
        border-bottom: 1px dashed #fff;

        &:hover {
            border-bottom: 1px dashed transparent;
        }
    }

    @include make-sm-column-offset(0);
    @include make-sm-column-offset(1);
    @include make-md-column-offset(1);
    @include make-lg-column-offset(1);

    @include make-sm-column(12);
    @include make-sm-column(10);
    @include make-md-column(10);
    @include make-lg-column(10);

    @media (max-width: $screen-xs-min) {
        margin-bottom: 20px;
    }
}