.shop-detailed__title-slider {
  margin-top: 40px;
  &:before {
    content: '';
    background: url("../img/icon-photo.png") no-repeat;
    width: 37px;
    height: 29px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: -2px;
  }
  @media (max-width: $screen-sm-max) {
    text-align: center;
    font-size: 25px;
    &:before {
      margin-right: 10px;
    }
  }
}
