.certificates {
    padding-top: 22px;
    padding-bottom: 44px;

    .h2 {
        margin-bottom: 23px;
        font-family: $font-PT;
        font-weight: 400;
        color: $tooltip-color;
    }
}