.list-orders__img {
  float: none;
  .img-responsive{
    margin: 0px auto;
  }
  @media (min-width: $screen-sm-min) {
    width: 120px;
    padding: 0px 20px;
    float: left;
  }
  @media (min-width: $screen-md-min) {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}