.product-slider-nav__item_video {
  position: relative;
  &:before {
    position: absolute;
    display: block;
    content: '';
    background: url("../../img/video.png") no-repeat center;
    width: 100%;
    height: 100%;
    background-size: contain;
  }
}