.btn-green {
  position: relative;
  color: #efefef;
  background: none;
  -pie-background: linear-gradient(#00923f, #4db017);
  behavior: url(PIE.htc); }

.label {
  position: relative;
  behavior: url(PIE.htc); }

header .button-people .active-btn {
  position: relative;
  background-color: #000;
  -pie-background: linear-gradient(#ffffff, #eeeeee);
  behavior: url(PIE.htc); }

.nav-image a {
  background: url(../images/ie/nav-img-bg.png);
  border-radius: 0px;
  text-shadow: none;
  padding: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  behavior: url(PIE.htc); }
  .nav-image a span {
    z-index: 3;
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: none;
    background-image: url(../images/ie/radio-checked-bg.png);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-repeat: no-repeat;
    top: -10px;
    left: -10px;
    behavior: url(PIE.htc); }
  .nav-image a:before {
    z-index: 0;
    border-radius: 0px;
    border: none;
    position: absolute;
    content: '';
    display: block;
    width: 9px;
    height: 40px;
    background: url(../images/ie/nav-img-left.png);
    top: 0px;
    left: -9px !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .nav-image a:after {
    z-index: 0;
    position: absolute;
    content: '';
    display: block;
    width: 9px;
    height: 40px;
    background: url(../images/ie/nav-img-right.png);
    top: 0px;
    right: -9px; }
.nav-image .individuals-link span {
  left: 95%; }

.password-restore-bg {
  behavior: url(PIE.htc); }
  .password-restore-bg .password-restore {
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0;
    border-radius: 0 0 10px 10px;
    background-color: #fbfdfa;
    padding: 253px 26px 26px 26px;
    position: relative;
    behavior: url(PIE.htc); }
    .password-restore-bg .password-restore input {
      background-image: url(../images/ie/modal-input-bg.png);
      position: relative;
      behavior: url(PIE.htc); }
    .password-restore-bg .password-restore .restore-submit button {
      border-radius: 10px;
      position: relative;
      background: none;
      background-image: url(../images/ie/modal-submit-bg.png);
      behavior: url(PIE.htc); }

header nav {
  position: relative;
  -pie-background: linear-gradient(#ffffff, #eeeeee);
  behavior: url(PIE.htc); }

header form .search-main {
  -pie-background: linear-gradient(#f3f3f3, #ffffff);
  behavior: url(PIE.htc);
  line-height: 34px !important; }

.search-form .search-icon span {
  background-image: url(../images/sprites/search-icon.png);
  background-position: 0 0; }

header nav div a:hover {
  -pie-background: linear-gradient(#ffffff, #eeeeee);
  behavior: url(PIE.htc); }
  header nav div a:hover:before {
    z-index: 1;
    behavior: url(PIE.htc);
    background: #27a12b; }
  header nav div a:hover:after {
    z-index: 1;
    behavior: url(PIE.htc);
    background: #27a12b; }

.banner .thumbnail {
  position: relative;
  -pie-background: linear-gradient(#ffffff, #eeeeee);
  border: none;
  behavior: url(PIE.htc); }
  .banner .thumbnail img {
    behavior: url(PIE.htc); }

footer {
  behavior: url(PIE.htc); }
  footer .ellipse {
    behavior: url(PIE.htc); }

.modal-form .modal-content {
  position: relative;
  -pie-background: linear-gradient(#4db017, #00923f);
  behavior: url(PIE.htc); }
.modal-form .modal-submit {
  position: relative;
  -pie-background: linear-gradient(#4db017, #00923f);
  behavior: url(PIE.htc); }
.modal-form input {
  line-height: 40px !important;
  position: relative;
  -pie-background: linear-gradient(#f3f3f3, #ffffff);
  behavior: url(PIE.htc); }
.modal-form textarea {
  line-height: 24px !important; }
.modal-form .f-form input[type="radio"] {
  visibility: visible;
  position: absolute;
  width: 0px;
  height: 0px; }
.modal-form .f-form input[type="radio"] + label {
  border: none;
  background-image: url(../images/ie/radio-bg.png); }
  .modal-form .f-form input[type="radio"] + label:after {
    display: none; }
  .modal-form .f-form input[type="radio"] + label span {
    line-height: 24px; }
.modal-form .f-form input[type="radio"]:checked + label {
  border: none;
  background-image: url(../images/ie/radio-checked-bg.png); }
  .modal-form .f-form input[type="radio"]:checked + label:after {
    display: none; }

.sign-in-form input:focus, .sign-in-form button:focus {
  outline: none; }
.sign-in-form input {
  line-height: 40px;
  position: relative;
  -pie-background: linear-gradient(#f3f3f3, #ffffff);
  behavior: url(PIE.htc); }
.sign-in-form .modal-content .modal-header .sprites-form-top {
  background-image: url(../images/sprites/form-top.png);
  background-position: 0 0; }
.sign-in-form .modal-content .modal-header .sprites-form-bottom {
  background-image: url(../images/sprites/form-bottom.png);
  background-position: 0 0; }
.sign-in-form .modal-content .modal-header .content-h {
  position: relative;
  -pie-background: linear-gradient(#4db017, #00923f);
  behavior: url(PIE.htc); }
  .sign-in-form .modal-content .modal-header .content-h .border-h .reg {
    position: relative;
    -pie-background: linear-gradient(#4db017, #00923f);
    behavior: url(PIE.htc); }
.sign-in-form .modal-content .modal-footer {
  background-position: 0 0;
  background-image: url(../images/sprites/sing-in-bottom.png); }
  .sign-in-form .modal-content .modal-footer button {
    position: relative;
    -pie-background: linear-gradient(#4db017, #00923f);
    behavior: url(PIE.htc); }
.sign-in-form .modal-content .password-restore-bg {
  -pie-background: linear-gradient(#4db017, #00923f);
  behavior: url(PIE.htc); }
  .sign-in-form .modal-content .password-restore-bg .password-restore .restore-submit button {
    -pie-background: linear-gradient(#4db017, #00923f);
    behavior: url(PIE.htc); }

.sprites-close {
  background-image: url(../images/sprites/close.png);
  background-position: 0 0; }

.content-question .display-more {
  -pie-background: linear-gradient(#4db017, #00923f);
  behavior: url(PIE.htc); }

.content-catalog .pop-overflov .popover-green {
  background-image: url(../images/ie/popover-select.png);
  behavior: url(PIE.htc); }
  .content-catalog .pop-overflov .popover-green select {
    color: #efefef; }
.content-catalog .pop-overflov .fa-angle-down {
  position: relative;
  background-image: url(../images/ie/popover-select.png);
  behavior: url(PIE.htc); }
.content-catalog form .catalog-search {
  position: relative;
  -pie-background: linear-gradient(#f3f3f3, #ffffff);
  behavior: url(PIE.htc); }
.content-catalog section .add-btn, .content-catalog section .add-btn:hover {
  -pie-background: linear-gradient(#4db017, #00923f);
  background-image: url(../images/ie/green-smallbtn-bg.png);
  behavior: url(PIE.htc); }
.content-catalog aside {
  position: relative;
  -pie-background: linear-gradient(#4db017, #00923f);
  behavior: url(PIE.htc); }
  .content-catalog aside .aside-border {
    position: relative;
    behavior: url(PIE.htc); }
    .content-catalog aside .aside-border form input[type="radio"] + label span {
      -pie-background: linear-gradient(#ffffff, #eeeeee);
      behavior: url(PIE.htc); }
      .content-catalog aside .aside-border form input[type="radio"] + label span:after {
        -pie-background: linear-gradient(#f3f3f3, #ffffff);
        behavior: url(PIE.htc);
        border: none; }
    .content-catalog aside .aside-border form input[type="radio"]:checked + label span:after {
      -pie-background: linear-gradient(#4db017, #00923f);
      behavior: url(PIE.htc);
      border: none; }
    .content-catalog aside .aside-border form input[type="checkbox"] + label span {
      -pie-background: linear-gradient(#ffffff, #eeeeee);
      behavior: url(PIE.htc); }
      .content-catalog aside .aside-border form input[type="checkbox"] + label span:after {
        behavior: url(PIE.htc); }
    .content-catalog aside .aside-border form input[type="checkbox"]:checked + label span:after {
      -pie-background: linear-gradient(#4db017, #00923f);
      behavior: url(PIE.htc); }
  .content-catalog aside button {
    position: relative;
    -pie-background: linear-gradient(#4db017, #00923f);
    behavior: url(PIE.htc); }
  .content-catalog aside .top-radio input[type="radio"] + label {
    margin: 0 23px 12px 32px !important; }

.pagination:before {
  behavior: url(PIE.htc); }
.pagination a {
  position: relative;
  -pie-background: linear-gradient(#ffffff, #eeeeee);
  behavior: url(PIE.htc); }
  .pagination a:hover {
    position: relative;
    -pie-background: linear-gradient(#4db017, #00923f);
    behavior: url(PIE.htc); }

.content-physical .shadow-effect {
  behavior: url(PIE.htc); }
.content-physical .photo-video a {
  behavior: url(PIE.htc); }
  .content-physical .photo-video a img {
    position: relative;
    border-radius: 10px;
    behavior: url(PIE.htc); }

.content-catalog section img {
  position: relative;
  border-radius: 10px;
  behavior: url(PIE.htc); }

.content-cabinet .user-info input {
  position: relative;
  behavior: url(PIE.htc);
  -pie-background: linear-gradient(#f3f3f3, #ffffff); }
.content-cabinet .save {
  position: relative;
  behavior: url(PIE.htc);
  -pie-background: linear-gradient(#4db017, #00923f); }
.content-cabinet .pass-reset button {
  position: relative;
  behavior: url(PIE.htc);
  -pie-background: linear-gradient(#4db017, #00923f); }
.content-cabinet form {
  position: relative;
  behavior: url(PIE.htc); }
.content-cabinet .favorites {
  position: relative;
  behavior: url(PIE.htc); }
  .content-cabinet .favorites .image-border-smaller {
    position: relative;
    behavior: url(PIE.htc); }
    .content-cabinet .favorites .image-border-smaller img {
      width: 90%;
      height: 90%;
      margin: 5% auto; }
.content-cabinet .aside-bottom {
  margin: 0 0 57px 0; }
  .content-cabinet .aside-bottom .add-to-cart {
    position: relative;
    behavior: url(PIE.htc); }
.content-cabinet form input[type="checkbox"] + label span {
  top: 0px; }

.image-border-small {
  position: relative;
  behavior: url(PIE.htc); }
  .image-border-small img {
    width: 90%;
    height: 90%;
    margin: 5% auto 5% auto; }

.aside-bottom .add-to-cart {
  position: relative;
  behavior: url(PIE.htc);
  -pie-background: linear-gradient(#4db017, #00923f); }

.horizontal-form label input[type="text"] {
  z-index: 1;
  behavior: url(PIE.htc);
  -pie-background: linear-gradient(#f3f3f3, #ffffff); }
.horizontal-form label .select, .horizontal-form label textarea {
  z-index: 1;
  behavior: url(PIE.htc);
  -pie-background: linear-gradient(#f3f3f3, #ffffff); }
.horizontal-form label .select {
  height: 27px;
  line-height: 27px; }
  .horizontal-form label .select select {
    position: absolute;
    top: -5px; }
  .horizontal-form label .select i {
    position: absolute;
    top: 8px;
    right: 10px; }
.horizontal-form label select + i {
  z-index: 1;
  behavior: url(PIE.htc);
  -pie-background: linear-gradient(#f3f3f3, #ffffff); }
.horizontal-form button {
  z-index: 1;
  behavior: url(PIE.htc);
  -pie-background: linear-gradient(#4db017, #00923f); }

.content-cart .cart-payment input {
  z-index: 1;
  behavior: url(PIE.htc);
  -pie-background: linear-gradient(#f3f3f3, #ffffff); }
.content-cart .add-to {
  z-index: 1;
  behavior: url(PIE.htc);
  -pie-background: linear-gradient(#4db017, #00923f); }

.content-contacts .map {
  background: #fff;
  behavior: url(PIE.htc); }

.content-discount .actions-block .actions-panel {
  position: relative;
  behavior: url(PIE.htc);
  -pie-background: linear-gradient(#fefefe, #f1f1f1); }

.content-item .add-to-cart {
  position: relative;
  -pie-background: linear-gradient(#4db017, #00923f);
  behavior: url(PIE.htc); }
.content-item article .image-border {
  position: relative;
  behavior: url(PIE.htc); }
.content-item article .item-description .header-item label input[type="text"] {
  height: 24px;
  position: relative;
  -pie-background: linear-gradient(#f3f3f3, #ffffff);
  behavior: url(PIE.htc); }

.content-news section img {
  position: relative;
  behavior: url(PIE.htc); }
.content-news .display-more {
  position: relative;
  -pie-background: linear-gradient(#4db017, #00923f);
  behavior: url(PIE.htc); }

.content-new {
  margin-bottom: 90px; }
  .content-new article .well {
    position: relative;
    -pie-background: linear-gradient(#f3f3f3, #ffffff);
    behavior: url(PIE.htc); }
  .content-new aside img {
    position: relative;
    behavior: url(PIE.htc); }

.content-face .shadow-effect {
  behavior: url(PIE.htc); }
.content-face .photo-video a {
  behavior: url(PIE.htc); }
  .content-face .photo-video a.video:after {
    background-image: url(../images/sprites/triangle.png);
    background-position: 0 0; }
  .content-face .photo-video a img {
    width: 94% !important;
    max-width: 94% !important;
    height: 94% !important;
    margin: 3% auto !important; }
.content-face #Modal-slider .modal-content {
  position: relative;
  behavior: url(PIE.htc); }
  .content-face #Modal-slider .modal-content .slide-controls a {
    background-color: #fff;
    position: relative;
    -pie-background: linear-gradient(#4db017, #00923f);
    behavior: url(PIE.htc); }

.content-recognize .regestry-description {
  position: relative;
  behavior: url(PIE.htc); }
.content-recognize .file-field {
  position: relative;
  behavior: url(PIE.htc); }

.content-search .search-main {
  position: relative;
  -pie-background: linear-gradient(#f3f3f3, #ffffff);
  behavior: url(PIE.htc); }
.content-search .nav-tabs li.active a, .content-search .nav-tabs li.active a:hover {
  position: relative;
  -pie-background: linear-gradient(#00923f, #4db017);
  behavior: url(PIE.htc); }
.content-search .nav-tabs li a {
  position: relative;
  -pie-background: linear-gradient(#4db017, #00923f);
  behavior: url(PIE.htc); }

/*# sourceMappingURL=ie8.css.map */
