@import "variables.scss";
@import "style.scss";

.icon{
  display: inline-block;
  font: normal normal normal $font-size-base; // shortening font declaration
  line-height: 1;
  font-size: inherit; // can't have font-size inherit on line above, so need to override
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}