.article-preview__title {
  color: #303030;
  font-size: 21px;
  margin-bottom: 15px;
  display: block;
  &:focus,
  &:hover {
    color: #303030;
  }
  @media (max-width: $screen-xs-max) {
    margin-right: 0;
  }
}