.ordering-alert__exclamation {
    display: block;
    margin: 0 auto;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    line-height: 63px;
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    font-family: $font-PT;
    background: $brand-primary;
}