.btn {
  font-family: Arial;
  letter-spacing: -1px;
  .custom-fonts-loaded & {
    letter-spacing: normal;
    font-family: "PT Sans", sans-serif;
  }
}
body {
  .custom-fonts-loaded & {
    font-family: $custom-fonts_font-family-sans-serif;
  }

}