.contacts-map_touch-lock {
  &:before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.no-touch {
  .contacts-map_touch-lock {
    &:before {
      display: none;
    }
  }
}