.list-marked_small {
    .list-marked__heading {
        font-size: 24px;
    }

    .list-marked__subheading {
        font-size: 14px;
    }

    .list-marked__item {
        padding-left: 42px;
        font-size: 14px;
    }
}