.link-list{
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 0 0 124px 30px;
    margin: 0;
    list-style: none;
    a{
        display: inline-block;
        margin-left: 21px;
        margin-bottom: -6px;
        padding: 0 12px 0 5px;
        position: relative;
        height: 48px;
        line-height: 46px;
        letter-spacing: 1px;
        color:  #f5f5f5;
        font-size: 15.99px;
        font-weight: 400;
        text-transform: uppercase;
        background-repeat: repeat-x;
        &:before, &:after{
            content: '';
            position: absolute;
            top: 0px;
        }
        &:before{
            left: -25px;
        }
        &:after{
            right: -13px;
        }
    }
    li{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            left: -18px;
            top: 10px;
            width: 23px;
            height: 23px;
            border: 1px solid #95835f;
            background-color: rgba(71,93,37,.68);
	        @include box-shadow(0 3px 9px rgba(1,1,1,.75));
            @include transform(rotate(45deg));
        }
        &:after{
            content: '';
            position: absolute;
            left: -10.5px;
            top: 18px;
            @include border-radius(50%);
            background-color:  #fff;
            width: 8px;
            height: 8px;
        }
        &:hover{
            &:before{
                background-color: rgba(247,148,29,.68);
                @include box-shadow(0 3px 9px rgba(1,1,1,.75));
            }
            a{
                text-decoration: none;
                background-image:   url("../img/ribbon-bg-h.png")!important;
                &:before{
                    @extend .ribbon-front-h;
                }
                &:after{
                    @extend .ribbon-back-h;
                }
            }
        }  
    }
    
}