.triangle{
    position: absolute;
    left: 50%;
    top: -174px;
    .shape{
        position: relative;
        width: 75px;
        height: 75px;
        position: absolute;
        left: 0px;
        top: 0px;
        @include transform(rotate(45deg));
        background-color: rgba(255,255,255,.2);
        border: 1px solid #fff;
        &:before{
            position: absolute;
            bottom: -11px;
            left: 71px;
            content: '';
            width: 14px;
            height: 14px;
            border-right: 1px solid #fff;
            border-bottom:1px solid #fff;
        }
    }
    #menu{
        position: absolute;
        top: -16px;
        left: -16px;
        width: 106.066px;
        height: 106.066px;
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            display: none;
            &.active{
                display: block;
                text-align: center;
                padding-top: 32px;
            }
            a{
                display: inline-block;
                color:  #f5f5f5;
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                text-transform: uppercase;
            }
        }
    }
}
