.pagination__link {
    .pagination & {
        color: $color_primary;
        padding: 6px 10px;
        margin: 0 3px;
        border-radius: 4px;
        &:hover {
            text-decoration: none;
            border: 1px solid #ddd;
            color: $color_primary;
        }
    }
    .pagination__item.active & {
        border-color: #919191;
        &:hover {
            border-color: #919191;
        }
    }
}
