.card-product-line__title {
  font-size: 15px;
  font-weight: 700;
  display: block;
  color: #000;
  margin-top: 12px;
  margin-bottom: 8px;
  &:focus,
  &:hover {
    text-decoration: none;
    color: #000;
  }
}