.slider-brand {
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  padding-bottom: 10px;
  /* Arrows */
  .slick-prev,
  .slick-next {
    position: absolute;
    overflow: hidden;
    display: block;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -30px \9;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 4;
    font-size: 68px;
    width: 24px;
    height: 100%;
    &:hover, &:focus {
      outline: none;
      &:before {
        opacity: 1;
      }
    }
    &.slick-disabled:before {
      opacity: 0.5;
    }
  }

  .slick-prev:before, .slick-next:before {
    color: #c1c1c1;
    opacity: 1;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  .slick-prev {
    left: -45px;
    &:before {
      content: "\f104";
    }
    @media (max-width: 1260px) {
      left: 5px;
    }
    @media (max-width: $screen-md-max) {
      left: -30px;
    }
    @media (max-width: 1025px) {
      left: 5px;
    }
  }
  .slick-next{
    right: -45px;
    &:before {
      content: "\f105";
    }
    @media (max-width: 1260px) {
      right: 5px;
    }
    @media (max-width: $screen-md-max) {
      right: -30px;
    }
    @media (max-width: 1025px) {
      right: 5px;
    }
  }
}