footer{
    padding: 0 0 54px 0;
    &.main-footer{
       .container{
            padding: 17px 0 0 0;
            border-top: 1px solid #e3e3e3;
        }
        span{
            color:  #212628;
            font-size: 12px;
            font-weight: 400;
        }
        a{
            display: block;
            color:  #212628;
            font-size: 12px;
            font-weight: 700;
        }
        .copy-right{
            display: block;
            text-align: center;
        }
        ul{
            float: right;
            list-style: none;
            padding: 0;
            li{
                display: inline-block;
                margin-left: 15px;
                a{
                    width: 32px;
                    height: 32px;
                    display: inline-block;
                    @include border-radius(16px 15px 15px 16px, 15px);
                    background-color: rgba(211,211,211,0);
                    border: solid 1px #e3e3e3;
                    text-align: center;
                    line-height: 32px;
                    font-size: 15px;
                }
                i{
                    &.fa-facebook{
                        color: #3a5ba2;
                    }
                    &.fa-twitter{
                        color: #1ebef0;
                    }
                    &.fa-google-plus{
                        color: #e03030;
                    }
                    &.fa-pinterest-p{
                        color: #cc2a2f;
                    }
                    &.fa-instagram{
                        color: #a07464;
                    }
                }
            }
        } 
    }
    
    &.scroll-footer{
        padding: 0;
        height: 36px;
        width: 100%;
        background: #fff;
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 15;
        .triangle{
            position: relative;
            top: -67px;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-left: 122px solid transparent;
            border-right: 122px solid transparent;
            border-bottom: 67px solid #fff;
        }
        #menu{
            position: absolute;
            top: 19px;
            left: 0px;
            margin-left: -122px;
            width: 244px;
            height: 67px;
            padding: 0;
            list-style: none;
            li{
                text-align: center;
                display: none;
                &.active, &.main{
                    display: block;
                }
            }
            a{
                color:  #2d3234;
                font-size: 13px;
                font-weight: 400;
                line-height: 15px;
                text-align: center;
                &:hover{
                    text-decoration: none;
                }
                span{
                    display: block;
                }
            }
            &:hover{
                cursor: pointer;
                a{
                    color:  #964ca6;
                }
            }
        }
    }
}