@import "compass/css3";

header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 36px 0 0 0;
    background: #fff;
    z-index: 15;
    .l-split{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            display: inline-block;
            margin-left: 53px;
            vertical-align: top;
            &:first-child{
                margin-left: 0px;
            }
        }
        a:hover{
            text-decoration: none;
        }
    }
    .split-with-logo{
        margin: 0;
    }
    .l-split .logo{
        position: relative;
        display: inline-block;
        font-family: 'pf_agora_slab_proregular';
        color:  #2d3234;
        font-size: 31.98px;
        font-weight: bold;
        line-height: 28px;
        text-align: left;
        letter-spacing: 2px;
        .blue{
            color:  #964ca6;
        }
        .description{
            display: block;
            color:  #767879;
            font-size: 14px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0px;
        }
        &:after{
            content: '';
            position: absolute;
            top: -7px;
            right: -28px;
            width: 1px;
            height: 49px;
            background: #dcdcdc;
        }
        i{
            position: absolute;
            left: -39px;
            top: 0px;
            font-weight: bold;
            font-size: 27px;
        }
    }
    .l-split .toggle{
        display: inline-block;
        margin-top: 4px;
        color:  #964ca6;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        i{
            float: left;
            margin-right: 9px;
            font-size: 28px;
            font-weight: bold;
        }
    }
    .sign-up{
        list-style: none;
        padding: 0;
        margin: 9px 0 0 58px;
        li{
            display: inline-block;
            margin-left: 5px;
            &:first-child{
                margin-left: 0px;
                &:after{
                    margin-left: 10px;
                    content: 'or';
                    color:  rgba(45, 50, 52, 0.6);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 10px;
                }
            }
            &.about{
                    margin-left: 79px;
            }
            a{
                position: relative;
                color:  #2d3234;
                font-size: 14px;
                font-weight: 400;
                line-height: 10px;
                &:hover{
                    color:  #964ca6;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 10px;
                }
            }
        }
    }
    form{
        position: relative;
        float: right;
        width: 136px;
        .form-group input{
            height: 35px;
            line-height: 35px;
            padding: 0 19px;
            border: none;
            outline: none;
            background: none;
            box-shadow: none;
            &:focus{
                outline: none;
                box-shadow: none;
                color: #000;
                @include border-radius(18px 17px 17px 18px, 18px 18px 17px 17px);
                background-color: rgba(46,188,123,0);
                border: solid 1px #bababa;
                @include input-placeholder{
                    color: #000;
                }
            }
            @include input-placeholder{
                font-family: 'PT Sans', sans-serif;
                color:  rgba(116, 116, 116, 0.78);
                font-size: 14px;
                font-style: italic;
                line-height: 35px;
            }
        }
        button{
            position: absolute;
            top: 9px;
            right: 10px;
            background: none;
            border: none;
            font-size: 13px;
            color:  rgba(116, 116, 116, 0.78);
        }
        .form-group input:focus + button{
            color:  #000;
        }
    }
}

nav{
    margin-top: 26px;
    background-color: #9f59ae;
	@include background-image(linear-gradient(top, rgba(1,2,2,.15), rgba(255,255,255,.15)));
    .nav-pills > li > a{
        font-size: 17px;
        font-weight: 700;
        line-height: 28px;
    }
    .nav-pills > .active + li{
        &:after{
            display: none;
        }
    }
    .nav-pills > li{
        margin: 0 10px 0 5px;
        &:after{
            content: '';
            position: absolute;
            top: 0px;
            left: -5px;
            height: 30px;
            width: 1px;
            background: #974fa7;
            border-right: 1px solid #ba87c5;
        }
        &:first-child{
            margin: 0px;
        }
        &:first-child, &.active{
            &:after{
                display: none;
            }
        }
    }
    .nav-pills{
        margin-top: 8px;
    }
    .check{
        background-color: #773c85;
	    @include box-shadow(inset 0 8px 8px rgba(153,75,172,.5));
        font-family: 'PT Sans', sans-serif;
        color:  #d6a0e4;
        font-size: 15px;
        font-weight: 700;
        font-style: italic;
        line-height: 28px;
        border: none;
        padding: 10px 15px;
        &:hover{
            text-decoration: none;
            font-weight: bold;
            font-style: italic;
            color:  #fdf5ff;
            background-color: #8b4e99;
	        @include box-shadow(inset 0 8px 8px rgba(153,75,172,.5));
        }
    }
}



