.v-txt{
    .youtube-video{
        padding-bottom: 50px;
    }
    .youtube-video h2{
        font-size: 24px;
        font-weight: normal;
    }
    .youtube-video p{
        text-overflow: ellipsis;
        word-break:normal;
    }
    .youtube-video img{
        width: 100%;
    }
}