@charset "utf-8";
@import "bootstrap";
@import "fonts";
@import "header";
@import "sprites";
@import "content";
@import "main-content";
@import "footer";
@import "see-all";
@import "screen-1";
@import "symptoms";
@import "control";
@import "treatments";
@import "doctors";
@import "doctor";
@import "video";
@import "v-txt";
@import "list-scroll";

html, body{
    overflow: visible!important;
}

html, body, .wrapper{
    min-width: 1000px;
    height: 100%;
}

.wrapper{
    overflow: hidden;
    position: relative;
    padding-top: 160px;
    &.no-overflow{
        overflow: visible;
    }
}

body{
    position: relative;
}

header, footer, .content{
    min-width: 1000px;
}

a{
    font-family: 'PT Sans', sans-serif;
}
