.article-preview__date {
  float: right;
  background: $color_primary;
  color: #fff;
  padding: 0 5px;
  font-size: 15px;
  font-weight: bold;
  @media (max-width: $screen-xs-max) {
    margin-top: -22px;
  }
}