@charset "utf-8";
.doctor-personal{
    .shadow{
        background: url(../img/Shadow.png) no-repeat;
        background-position: center bottom;
        padding-bottom: 17px;
    }
    .aside-left{
        top: -84px;
    }
    .img{
        width: 213px;
        margin-bottom: 14px;
        padding: 16px;
        background-color: rgba(241,241,241,0);
        border: solid 2px #f1f1f1;
        img{
            width: 100%;
        }
    }
    .time{
        color:  #676868;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }
    .special{
        margin-bottom: 18px;
        color:  #212628;
        font-size: 16px;
        font-weight: 400;
        span{
            display: block;
            color:  #929292;
            font-size: 14px;
            font-style: italic;
            line-height: 14px;
            margin-bottom: 6px;
        }
    }
    .panel{
        box-shadow: none;
    }
    .panel-title > a{
        display: inline-block;
        color:  #2d3234;
        font-size: 17px;
        font-weight: 700;
        line-height: 35.575px;
        &.collapsed{
            color:  #207eb4;
        }
        i{
            vertical-align: middle;
        }
    }
    .panel-body ul{
        padding: 0;
        list-style: none;
        li{
            color:  #212628;
            font-size: 14px;
            font-weight: 400;
            line-height: 25px;
            &:before{
                content: '—';
                color:  #797d7f;
                font-size: 16px;
                margin-right: 4px;
            }
        }
    }
    section h2{
        color:  #2d3234;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 2px;
    }
    section{
        .clearfix > div{
            padding-right: 41px;
        }
    }
    .cases{
        margin-bottom: 3px;
        padding-bottom: 45px;
        img{
            width: 96px;
            float: left;
            margin-right: 20px;
        }
        p{
            width: 182px;
            color:  #2d3234;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            margin-bottom: 14px;
        }
        strong{
            display: block;
            margin-bottom: 9px;
        }
        a{
            color:  #207eb4;
            font-weight: 700;
        }
    }
    .testimonials{
        margin-bottom: 62px;
        .clearfix > div{
            width: 340px;
        }
        p{
            line-height: 18px;
            margin-bottom: 15px;
        }
        strong{
            display: block;
        }
    }
}


