.d-list{
    background: none;
    margin-bottom: 4px;
    .breadcrumb{
        margin-top: 29px;
    }
    h1{
        margin-top: 3px;
    }
}

.doctor-list{
    .aside-left{
        top: -84px;
    }
    .doctor{
        padding-bottom: 48px;
        margin-bottom: 13px;
        background: url(../img/Shadow.png) no-repeat;
        background-position: center bottom;
    }
    .photo{
        float: left;
        width: 130px;
        height: 130px;
        background-color: rgba(241,241,241,0);
        border: solid 2px #f1f1f1;
        padding: 11px;
    }
    .description{
        padding-left: 156px;
        h1{
            margin: 0;
            font-size: 22px;
            font-weight: 700;
            line-height: 28px;
        }
        h1 > a{
            color:  #207eb4;
        }
        span{
            color:  #929292;
            font-size: 14px;
            font-style: italic;
        }
        p{
            color:  #212628;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            margin: 12px 0 15px 0;
            strong{
                display: block;
            }
        }
        .cases{
            @extend p;
            font-weight: 700;
            line-height: 15px;
            i{
                margin-right: 7px;
            }
            &:hover{
                color: #207eb4;
            }
        }
    }
    .work{
        float: right;
        width: 157px;
        background-color: rgba(241,241,241,0);
        border: solid 1px #e8e8e8;
        p{
            padding: 12px 0 0 22px;
            color:  #212628;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            margin-bottom: 14px;
        }
        strong{
            display: block;
            margin-bottom: 8px;
        }
        a{
            display: block;
            line-height: 41px;
            border-top: solid 1px #e8e8e8;
            margin-top: 0px;
            text-align: center;
            color:  #207eb4;
            font-size: 14px;
            font-weight: 700;
            i{
                margin-right: 10px;
                font-size: 16px;
            }
        }
    }
}

.load-animation{
    margin-bottom: 60px;
    text-align: center;
    .inline-center{
        display: inline-block;
    }
    span{
        color:  #aeaeae;
        font-size: 16px;
        font-weight: 400;
        line-height: 38px;
        vertical-align: middle;
        position: relative;
        top: -12px;
    }
    i{
        font-size: 38px;
        color: #959595;
        margin-right: 13px;
    }
}