.als-container{
    background-image: url(../img/s-shadow-top.png), url(../img/s-shadow-bottom.png);
    background-position: 0px 100%, 0px 0px;
    background-repeat: no-repeat, no-repeat ;
    margin: 63px 0 15px 0;
    padding: 42px 0 42px 44px;
    width: 200px;
    height: 252px;
    position: relative;
    overflow: hidden;
    .als-next, .als-prev{
        position: absolute;
        display: block;
        cursor: pointer;
        clear: both;
        left: 16px;
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    .als-prev{
        top: 15px;
    }
    .als-next{
        bottom: 20px;
    }
    .als-item{
        position: relative;
        display: block;
        text-align: center;
        cursor: pointer;
        text-align: left;
        margin-bottom: 6px;
    }
    .als-wrapper {
        position: relative;
        list-style: none;
    }
    .als-viewport {
        position: relative;
        overflow: hidden;
        margin: 0px auto;
    }
  .als-wrapper, .als-viewport{
        height: 100%!IMPORTANT;
        width: 100% !important;
    }
    a{
        color:  #207eb4;
        font-size: 14.82px;
        font-weight: 400;
        line-height: 22.581px;
        &.active{
            color:  #2d3234;
        }
    }
    i{
        color: #207eb4;
    }
}