.main-content{
    margin-bottom: 15px;
}

.page-header{
    background: url(../img/bg-about.jpg);
    background-size: cover!important;
    margin: 0;
    margin-bottom: 44px;
    .breadcrumb{
        margin-bottom: 0px;
        margin-top: 23px;
        li > a{
            color:  #207eb4;
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
        }
        li.active > a{
            color:  #7f909a;
            font-weight: 400;
        }
    }
    h1{
        margin-bottom: 12px;
        margin-top: 8px;
        color:  #2d3234;
        font-size: 37.75px;
        font-weight: 700;
        line-height: 41.575px;
    }
}

.find-panel{
    padding: 0 15px 22px 21px;
    margin-bottom: 35px;
    @include border-radius(18px);
	background-color: rgba(255,255,255,0);
    border: 2px dashed #afbfc5;
    p{
        color:  #2d3234;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }
    a{
        color:  #207eb4;
        font-size: 17.78px;
        font-weight: 700;
        line-height: 18px;
        i{
            margin-right: 10px;
        }
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 19px 0 15px 0;
        li{
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            margin-left: 5px;
            &:first-child{
                margin-left: 0px;
            }
            img{
                width: 100%;
            }
        }
    }
}

aside{
    h1{
        color:  #2d3234;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
    }
}

.aside-left{
    padding-right: 43px;
}

.aside-right{
    padding: 0 0 0 38px;
    h1{
        margin: 0 0 19px 0;
    }
}

.video-link{
    margin-bottom: 17px;
    div{
        padding: 0 0 0 13px;
        &:first-child{
            padding: 0;
        }
    }
    .video-box{
        display: block;
        background: #3598ce;
        height: 61px;
        line-height: 61px;
        text-align: center;
        i{
            color: #fff;
            @include text-shadow(rgba(46, 188, 123, .75) 1px 2px 5px);
        }
    }
    a{
        color:  #207eb4;
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
    }
    p{
        color:  #020202;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
    }
}

.aside-link{
    margin-bottom: 58px;
    img{
        float: left;
        border-radius: 50%;
        width: 86px;
        height: 86px;
        margin-right: 18px;
    } 
    a{
        position: relative;
        top: 10px;
        color:  #207eb4;
        font-size: 15.8px;
        font-weight: 400;
        line-height: 15px;
        span{
            display: inline-block;
            color:  #727272;
            font-size: 13px;
            font-style: italic;
            line-height: 18px;
        }
    }
}

#list-scroll{
    height: 186px;
    overflow: hidden;
    ul{
        list-style: none;
        padding: 0;
    }
    a{
        color:  #207eb4;
    }
}

article{
        .form-group{
            position: relative;
            padding: 10px;
            margin-bottom: 29px;
            @include border-radius(15px);
            background-color: #f0f0f0;
            @include box-shadow(inset 0 -1px 3px rgba(240,240,240,.8));
            input{
                height: 35px;
                @include border-radius(4px);
                background-color: #fff;
                @include box-shadow(0 0 5px rgba(1,1,1,.85));
                &:focus{
                    outline: none;
                    box-shadow: none;
                    color: #000;
                    border: none;
                    @include input-placeholder{
                        color: #000;
                    }
                }
            }
            button{
                position: absolute;
                right: 14px;
                top: 14px;
                color: #207eb4;
                background: none;
                border: none;
                font-size: 16px;
            }
        }
        .main-list{
            list-style: none;
            padding: 0 0 14px 0;
            border-bottom: 1px solid #ebebeb;
            li{
                margin-bottom: 16px;
                a{
                    color:  #207eb4;
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 59px;
                }
                a > .img{
                    width: 59px;
	                height: 59px;
                    float: left;
                    border-radius: 50%;
                    margin-right: 15px;
                    overflow: hidden;
                }
            }
        }
        .article-list{
            @extend .main-list;
            border-bottom: none;
            margin-top: 24px;
            margin-right: 52px;
            float: left;
            li > a{
                line-height: 26px;
            }
        }
    }

