.see-all{
    position: absolute;
    right: 0px;
    top: 361px;
    width: 126px;
	height: 71px;
    padding: 17px 0 0 49px;
    background-color: #fff;
	@include box-shadow(0 1px 3px rgba(179,203,173,.9));
    @include border-radius(35px 0px 0px 35px, 35px 0px 0px 35px);
    a{
        position: relative;
        color:  #207eb4;
        font-size: 22px;
        font-weight: 700;
        line-height: 16px;
        &:hover{
            color:  #2294d6;
            text-decoration: none;
        }
        span{
            display: block;
            font-size: 14px;
            font-weight: 400;
        }
        i{
            position: absolute;
            top: 7px;
            font-size: 34px;
            left: -30px;
        }
    }
}