.ordering-alert {
    @include make-row();

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 18px 0;
    margin-bottom: 65px;
    border-radius: 10px;
    background-color: #ebebeb;
}