.account-link {
  display: block;
  background: #fff;
  height: 260px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: #000;
  line-height: 1;
  margin-bottom: 30px;
  font-size: 26px;
  transition: all 0.3s ease-in-out;
  &:focus,
  &:hover {
    text-decoration: none;
    color: $color_primary;
  }
  @media (max-width: $screen-md-max) {
    height: 220px;
    font-size: 20px;
  }
}