.search-large_color {
  &_lite{
    padding: 0;
    background-color: transparent;
    color: $input-color;
    .form-control{
      border-color: $input-border;
      @include placeholder($input-color);
    }
  }
}