.to-up__icon {
  padding: 5px;
  background: $color_primary;
  color: #fff;
  margin-right: 6px;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  line-height: 21px !important;
  text-align: center;
  font-size: 21px;
}