@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?ib2x00');
  src:  url('#{$icomoon-font-path}/icomoon.eot?ib2x00#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?ib2x00') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?ib2x00') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?ib2x00#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-collapse {
  &:before {
    content: $icon-arrow-collapse;
  }
}
.icon-arrow-expand {
  &:before {
    content: $icon-arrow-expand;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;
  }
}
.icon-navicon {
  &:before {
    content: $icon-navicon;
  }
}
.icon-envelope-o {
  &:before {
    content: $icon-envelope-o;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-map-marker {
  &:before {
    content: $icon-map-marker;
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-th {
  &:before {
    content: $icon-th;
  }
}
.icon-th-list {
  &:before {
    content: $icon-th-list;
  }
}
.icon-angle-left {
  &:before {
    content: $icon-angle-left;
  }
}
.icon-angle-right {
  &:before {
    content: $icon-angle-right;
  }
}
.icon-logo {
  &:before {
    content: $icon-logo;
  }
}

