$icomoon-font-path: "fonts" !default;

$icon-arrow-collapse: "\e90f";
$icon-arrow-expand: "\e910";
$icon-close: "\e90e";
$icon-settings: "\e900";
$icon-navicon: "\e902";
$icon-envelope-o: "\e904";
$icon-user: "\e905";
$icon-phone: "\e906";
$icon-map-marker: "\e907";
$icon-refresh: "\e908";
$icon-arrow-right: "\e909";
$icon-search: "\e90a";
$icon-th: "\e90b";
$icon-th-list: "\e90c";
$icon-angle-left: "\e901";
$icon-angle-right: "\e903";
$icon-logo: "\e90d";

