.shop-detailed-head__title_icon {
  &_address {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      background: url("../../img/address.png") no-repeat;
      width: 15px;
      height: 24px;
      left: -25px;
      top: 2px;
    }
  }
  &_phone {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      background: url("../../img/phone.png") no-repeat;
      width: 22px;
      height: 23px;
      left: -30px;
      top: 3px;
    }
  }
  &_watch {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      background: url("../../img/watch.png") no-repeat;
      width: 24px;
      height: 24px;
      left: -30px;
      top: 2px;
    }
  }
}