.table_bordered {
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 1px solid $table-border-color;
      }
    }
  }
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid $table-border-color;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 1px;
    }
  }
}
