.ordering-points__wrapper {
    display: block;
    position: relative;
    margin-bottom: 15px;

    img {
        width: 100%;
    }

    &:before {
        counter-increment: number;
        content: counter(number);
        position: absolute;
        left: 21px;
        bottom: 23px;
        width: 43px;
        height: 43px;
        line-height: 43px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        border-radius: 50%;
        background: $brand-primary;
    }
}