.main-nav__logo {
  width: 4.5em;
  height: 6em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  .icomoon{
    font-size: 60px;
    color: lighten($brand-primary, 100%);
  }
}