.ordering-alert__text {
    @include make-xs-column(9);
    @include make-sm-column(9);
    @include make-md-column(10);
    @include make-lg-column(10);

    p {
        margin-top: 4px;
        color: #252525;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}