.main {
  flex: 1 0 auto;
  width: 100%;
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
  &__up{
    z-index: $zindex-dropdown;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    cursor: pointer;
    &:hover{
      .main__up-inner{
        background-color: lighten($gray-base, 90%);
      }
    }
    &-inner{
      right: 0;
      transition: background-color 0.35s ease;
      position: absolute;
      height: 100%;
    }
    &-text{
      opacity: 0.3;
      position: absolute;
      bottom: 0;
      right: 0;
      width: inherit;
      transition: opacity 0.35s ease;
      &:hover{
        opacity: 0.8;
      }
    }
  }
}