.footer__address {
  color: #97a4b1;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding: 28px 0 27px;
  & > span, & > div, & > p{
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
  }

  @media(max-width: $screen-xs-max){
    flex-direction: column;
    & > span, & > div, & > p{
      margin-left: 0px;
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}