.title-link {

  color: $link-color;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  display: inline-block;
  margin-bottom: 50px;
  padding-top: 66px;
  transition: 0.3s;
  border-bottom: solid 2px transparent;
  text-decoration: none;
  &:hover, &:focus{
    border-color: #d0e3f6;
    text-decoration: none;
  }
}