
.dropdown__list.dropdown-menu {
  color: #252525;
  width: 100%;
  border: none;
  margin: 0;
  border-radius: 10px;
opacity: 0;
  transition: 0.3s;
  visibility: hidden;
  display: block !important;
  @media(max-width: $screen-xs-max){
    border-radius: 0;
    padding: 0;
  }
}