.feedback {
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  @media (max-width: $screen-md-max) {
    padding-left: 53px;
  }
  @media (max-width: $screen-sm-max) {
    display: none;
  }
}