.main-nav__inner {
  list-style: none;
  flex-grow: 10;
  margin: 0 $grid-gutter-width/-2;
  padding: $grid-gutter-width/3 $grid-gutter-width/2;
  background-color: lighten($brand-primary, 100%);
  @media (max-width: $screen-xs-max) {
    .header & {
      border-bottom: 1px solid $brand-primary;
    }
  }
  @media (min-width: $screen-sm-min) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
}