.section{
    h1{
        color:  #f5f5f5;
    }
}

#section0{
    .banner h2{
        &:before{
            @include sprites-sprite(dot1);
        }
    }
    .link-list a{
        background-image:   url("../img/ribbon-bg-1.png");
        &:before{
            @extend .ribbon-front-1;
        }
        &:after{
            @extend .ribbon-back-1;
        }
    }
}

#section1{
    .banner h2{
        &:before{
            @include sprites-sprite(dot2);
        }
    }
}

#section2{
    h1{
        color:  #484548;
    }
    .banner h2{
        &:before{
            @include sprites-sprite(dot3);
        }
    }
}

#section3{
    h1{
        color:  #484548;
    }
    .banner h2{
        &:before{
            @include sprites-sprite(dot4);
        }
    }
}

#section4{
    h1{
        color:  #fdfbfd;
    }
    .banner h2{
        &:before{
            @include sprites-sprite(dot5);
        }
    }
}

