* {
    &:focus,
    &:active,
    &:active:focus {
        outline: none;
        outline: none!important;
    }
}

body {
    min-width: 360px;
    .custom-fonts_loaded & {
        font-family: $font-family-sans-serif;
    }
}
.nowrap{
    white-space: nowrap;
}
.link-dashed{
    text-decoration: none !important;
    border-bottom: 1px dashed;
}