.top-menu__link {
  color: $text-color;
  text-decoration: none;
  font-size: 14px;
  margin-right: 37px;
  &:last-child{
    margin-right: 0;
  }
  &:hover, &:focus{ color: $text-color; text-decoration: none;}
  & span {
    padding-left: 13px;
  }
  @media(max-width: $screen-xs-max){
    display: block;
    margin-top: 3px;
  }


}