main.l-main
    include article/article.pug 
    include article/article-photo.pug 
    include article/article-photoset.pug 
    include article/article-panorama.pug 
    include article/article-audio.pug 
    include article/article-video.pug 
    
    
