.svg {
  &_city{
    height: 14px;
    width: 10px;
  }
  &_lk{
    width: 12px;
    height: 14px;
  }
  &_phone{
    width: 14px;
    height: 14px;
  }
  &_search{
    width: 36px;
    height: 36px;
  }
&_more{
  width: 27px;
  height: 27px;
}
  &_vk{
    width: 31px;
    height: 31px;
  }
  &_facebook{
    width: 31px;
    height: 31px;
  }
  &_twitter{
    width: 31px;
    height: 31px;
  }
  &_youtube{
    width: 31px;
    height: 31px;
  }
  &_subscribe{
    width: 27px;
    height: 14px;
  }


}