$sprites-sprite-dimensions: true;
@import "compass/utilities/sprites";
@import "sprites/*.png";
@include all-sprites-sprites; 

.icon{
    display: inline-block;
    vertical-align: middle;
}

.i-key{
    @include sprites-sprite(key);
}

.i-info{
    @include sprites-sprite(info);
}

.i-search{
    @include sprites-sprite(search);
}

.i-cross{
    @include sprites-sprite(cross);
}

.i-check{
    @include sprites-sprite(check_icon);
    margin-top: -4px;
    margin-right: 12px;
}

.ribbon-front-h{
    @include sprites-sprite(ribbon-front-h);
}

.ribbon-back-h{
    @include sprites-sprite(ribbon-back-h);
}

.ribbon-front-1{
    @include sprites-sprite(ribbon-front-1);
}

.ribbon-back-1{
    @include sprites-sprite(ribbon-back-1);
}


