.catalog__link {
  text-decoration: none;
  display: block;
  color: #000;
  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
    .catalog__title {
      text-decoration: underline;
    }
  }
  @media (max-width: $screen-xs-max) {
    height: 65px;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}