.product-detail__label_type {
  &_new {
    background: #00c853;
  }
  &_our-choice {
    background: #0091ea;
  }
  &_sale {
    background: #ff5722;
  }
  &_action {
    background: #f50057;
  }
  &_guarantee {
    background: #00c853;
  }
  &_season {
    background: #f24841;
  }
  &_hit {
    background: #FA2E0D;
  }
}