.product-control__old-price {
//  position: absolute;
  font-size: 14px;
  color: #919191;
  font-weight: normal;
  position: relative;
  display: inline-block;
  vertical-align: top;
  &:before {
    content: '';
    position: absolute;
    border-top: 2px solid #d00;
    width: 100%;
    top: 9px;
  }
}