.main-search__icon {
  position: absolute;
  left: 63px;
  top: 20px;
  @media(max-width: $screen-md-max){
    left: 23px;
  }
  @media(max-width: $screen-xs-max){
    right: 25px;
    left: auto;
    z-index: 20;
    top: 17px;
    display: none;
  }
}