.slider-main__arrow {
  width: 26px;
  height: 49px;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 46px);


  &_prev {
    left: -35px;
  }

  &_next {
    right: -35px;
  }


  @media(max-width: $screen-xs-max){
      width: 24px;
      height: 38px;

    &_prev {
      left: -10px;
    }

    &_next {
      right: -10px;
    }

  }
}