.information-menu__item {
  display: block;
  width: 25%;
  float: left;
  border-left: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  height: 175px;
  text-align: center;
  color: #303030;
  transition: color 0.3s ease-in-out;
  &:first-child {
    border-left: none;
  }
  &:focus,
  &:hover {
    color: #f24841;
    text-decoration: none;
  }
  @media (max-width: $screen-sm-max) {
    width: 50%;
  }
  @media (max-width: 500px) {
    width: 100%;
  }
}