.found-a-cheaper {
  position: relative;
  padding-left: 37px;
  line-height: 1.35;
  &:before {
    content: '';
    background: url("../../../images/control/found-a-cheaper.png") no-repeat;
    width: 29px;
    height: 29px;
    position: absolute;
    left: 3px;
    top: 5px;
  }
}