.order-detailed__status_color_n,
.order-detailed__status_color_w {
    color: #ffab00;
}

.order-detailed__status_color_p,
.order-detailed__status_color_s,
.order-detailed__status_color_a,
.order-detailed__status_color_f {
    color: #95c11e !important;
}

.order-detailed__status_color_c {
    color: #f24841;
}