.list-orders__old-price {
  color: #919191;
  line-height: 1.3;
  font-size: 14px;
  position: relative;
  display: inline-block;
  &:before {
    content: '';
    position: absolute;
    border-top: 2px solid #d00;
    width: 100%;
    top: 9px;
  }
}