.footer {
  color: #97a4b1;
  background-color: lighten($brand-primary, 100%);
  padding: $grid-gutter-width/2 0;
  box-shadow: 0 0 10px rgba(18, 98, 178, 0.3);
  @media (min-width: $screen-sm-min) {
    box-shadow: 0 0 100px rgba(18, 98, 178, 0.3);
  }
  hr, .hr{
    margin: $grid-gutter-width/2 0;
  }
}