.to-up {
  height: 33px;
  width: 33px;
  transition: 0.3s;
  background: url(../../../images/to-up.svg) no-repeat center;
  position: fixed;
  bottom: 100px;
  right: 60px;
  opacity: 0;
  cursor: pointer;
  z-index: 200;
  visibility: hidden;
transform: scale(0);
  &_active{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  @media(min-width: 1300px){
    left: calc(50% + 630px);
    right: auto;
  }
  @media(max-width: $screen-md-max){
    left: auto;
    bottom: 64px;
    right: 98px;
  }
  @media(max-width: $screen-sm-max){
    right: 30px;
    left: auto;
  }
  @media(max-width: $screen-xs-max){
    right: 10px;
    left: auto;
  }
}