.product-slider-nav {
  padding: 0 20px;
  .slick-prev,
  .slick-next {
    position: absolute;
    overflow: hidden;
    display: block;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 0;
    padding: 0;
    border: none;
    outline: none;
    z-index: 4;
    font-size: 44px;
    width: 16px;
    height: 100%;
    @media (max-width: $screen-xs-max) {
      font-size: 20px;
    }
    &:hover, &:focus {
      outline: none;
      &:before {
        opacity: 1;
      }
    }
    &.slick-disabled:before {
      opacity: 0.5;
    }
  }
  .slick-prev:before, .slick-next:before {
    color: #c1c1c1;
    opacity: 1;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  .slick-prev:before, .slick-next:before {
    color: #c1c1c1;
    opacity: 1;
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  .slick-prev {
    left: 0;
    &:before {
      content: "\f104";
    }
  }
  .slick-next{
    right: 0;
    text-align: right;
    &:before {
      content: "\f105";
    }
  }
}