.product-control__two {
  min-width: 130px;
  @media (max-width: $screen-xs-max){
    width: 50%;
    order: 20;
    margin-bottom: 20px;
    .btn{
      display: block;
    }
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 50%;
    order: 20;
    margin-bottom: 20px;
    .btn{
      display: block;
    }
  }
}