.filter-controls__city {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    .filter-controls__li {
        width: 18.5%;
    }

    button {
        margin: 0 5px;
    }

    input {
        margin-left: 0px;
    }

    button + button {
        background: #f5f5f5;
        color: #a1a1a1;
        border: 1px solid #f5f5f5;

        &:hover {
            background: #bbb;
            color: #fff;
            border: 1px solid #bbb;
        }
    }
}

