.found-a-cheaper__link {
  border-bottom: 2px dotted;
  text-decoration: none;
  color: #00c853;
  font-size: 13px;
  @media (max-width: $screen-md-max) {
    font-size: 11px;
    border-bottom: 1px dotted;
  }
  &:hover,
  &:focus {
    color: #00c853;
    text-decoration: none;
  }
  &:hover {
    border-bottom: 1px dotted transparent;
  }
}