ul:not([class]) {
  list-style: none;
  li {
    position: relative;
    &:before {
      content:  "";
      left: -20px;
      background: url("img/ul-li.png");
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      margin-top: 3px;
    }
  }
}