.search-popover {

  @media (min-width: 601px) {
    top: auto !important;
    left: auto !important;
    width: auto !important;
  }
  position: absolute;
  z-index: 1060;
  display: none;
  background: #fff;
  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}