.card-product-line__content {
  margin-right: 200px;
  margin-left: 220px;
  @media (max-width: $screen-md-max) {
    margin-right: 165px;
    margin-left: 150px;
  }
  @media (max-width: $screen-sm-max) {
    margin-left: 0;
    margin-right: 0;
  }
}