.nav-tools__inner {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  border-bottom: none;
  list-style: none;
  max-width: $screen-xs-max;
  margin: 0 (-$s + -23px);
  padding: $grid-gutter-width/3 0;
}