@import "../../../bower_components/slick-carousel/slick/slick.scss";
//@import "../../../bower_components/slick-carousel/slick/slick-theme.scss";

.slick-list{
  @media (min-width: $screen-sm-min) {
    margin: 0 $font-size-large * 3;
  }
  &:first-child{
    margin: 0;
  }
  .slick-track{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    &:after, &:before{content: none !important;}
    .slick-slide{
      height: auto;
    }
  }
}
.slick-arrow{
  display: none !important;
  @media (min-width: $screen-sm-min) {
    display: flex !important;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $font-size-large * 3;
    background: none;
    border: none;
    font-size: 0;
    color: $brand-primary;
    &:before{
      font-family: 'icomoon';
      content: $icon-angle-left;
      font-size: $font-size-large * 3;
      color: inherit;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -36px -12px;
    }
    &.slick-next{
      left: auto;
      right: 0;
      &:before{
        content: $icon-angle-right;
      }
    }
  }

}
.slick-slide{
  outline: none;
}