.star__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none !important;
  &:hover,
  &.active{
    &:before{
      content: "\f005";
    }
  }
  &:before{
    content: "\f006";
    color: #f24841;
    font-size: 24px;
    font-family: FontAwesome;
    visibility: visible;
  }
}