.collapse-section {
  border-radius: 5px;
  border: 1px solid rgba(20, 112, 204, 0.2);
  padding: 13px 22px;
  margin-bottom: 18px;
  transition: all ease 0.2s;
  
  span {
    display: block;
  }

  span.change-button {
    display: inline;
    margin-left: 0px;
    margin-right: 7px;
    margin-top: 15px;
  }
}