.dropdown .dropdown__toggle {

    color: $link-color;
    font-size: inherit;
    font-weight: 400;
    text-decoration: none;


    &:hover, &:focus{
      text-decoration: none;
        color: $link-hover;

    }
& .dropdown__arrow{
  content: '';
  width: 8px;
  height: 6px;
  position: absolute;
  right: -19px;
  top: 50%;
  transition: 0.3s;
}
@media(max-width: $screen-xs-max){
  & .dropdown__arrow{
    display: none;
  }
}

}


