.join__background {

  & img {
    max-width: 100%;
  }
  &:before, &:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }
  &:before {
    background: linear-gradient(to right, #474c5a 17%, transparent calc(50% - 300px));
    @media(max-width: $screen-md-max){
      background: linear-gradient(to right, #474c5a 7%, transparent calc(50% - 171px));
    }
    @media(max-width: $screen-xs-max){
        background: linear-gradient(to right, #474c5a 0%, rgba(71, 76, 90, 0.52) 20%, transparent 100%);
    }
  }
  &:after {
    background: linear-gradient(to bottom, rgba(59, 66, 87, 0.56) 2%, rgba(59, 66, 87, 0.64) 44%, rgba(59, 66, 87, 0.85) 99%, #3b4257 100%);
  }

  & img {
    display: none !important;

  }
  background: url(../../../../images/join.jpg) top right;
  height: 819px;
  background-size: auto 100%;
  @media(max-width: $screen-md-max){
    height: 500px;
  }
  @media(max-width: $screen-xs-max){
    height: 315px;
  }
  @media(min-width: 1990px){

      background-size: auto;


  }


}
