.left-nav {
  list-style: none;
  margin: 0;
  font-size: $font-size-large;
  white-space: normal;
  @media (max-width: $screen-xs-max) {
    column-count: 2;
    column-width: 150px;
    border-bottom: 1px solid #0062a4;
    margin: 0 $grid-gutter-width/-2;
    padding: $grid-gutter-width/3 $grid-gutter-width/2;
    background-color: white;
  }
  @media (min-width: $screen-sm-min) {
    padding: $grid-gutter-width;
    border: 1px solid rgba(0, 112, 185, 0.1);
    border-radius: $border-radius-base;
    box-shadow: 0 0 20px rgba(0, 112, 185, 0.1);
    background-color: lighten($blue, 100%);

  }
}