.offer-item__left {
  min-width: 132px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 27px;
  min-height: 1px;
  width: 121px;
  & img{
    margin: 0 0 20px 0;
    padding-top: 14px;
  }
  @media(max-width: $screen-sm-max){
    min-width: 100%;
    flex-direction: row;
  }
}