.comment-rating {
    display: inline;
    margin-left: 13px;
    color: #ffcc00;
    font-size: 11px;

    i {
        margin-right: 4px;
    }

    @media (max-width: $screen-sm-max) {
        display: block;
        margin-top: 10px;
        margin-left: 0px;
    }
}