.nav-bar_menu {

  font-size: 16px;

  padding-top: 6px;

  & .nav-bar__item {
    padding: 0;
    margin-right: 46px;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 24px;
    }
    &:before {
      display: none;
    }
  }


  & a.dropdown__toggle, .nav-bar__item > a {
    & span {
      position: relative;;
      z-index: 40;
    }

    transition: 0.5s;
    margin-right: 0px;
    padding-top: 7px;
    background: transparent;
    border: none;
    text-decoration: none;
    &:before {
      content: '';
      background: linear-gradient(to right, #0468e6 0%, #00459d 100%);
      opacity: 0;
      transition: 0.5s;
      position: absolute;
      top: -7px;
      border-radius: 50px;
      z-index: 3;

      left: -22px;
      right: -23px;
      width: auto;
      height: auto;
      bottom: -8px;

    }
  }
  & a.dropdown__toggle:hover, .nav-bar__item > a:hover,
  & a.dropdown__toggle:focus, .nav-bar__item > a:focus {
    text-decoration: none;
    color: #fff;
    background: transparent;
    border-color: transparent;

    & span {
      color: #fff;
    }
    &:before {
      opacity: 1;
    }
  }



  & > li:last-child > a {
    margin-right: 0;
  }

  & > li:first-child > a {
    margin-left: 24px;
  }

  & > li > a > span {
    position: relative;
    z-index: 30;
  }

  & .navbar-toggle.nav-icon-active:after{
    transform: rotate(225deg);
  }


  @media(max-width: $screen-md-max){

      padding-left: 130px;

  }


  @media(max-width: $screen-sm-max) {

      font-size: 14px;


    .dropdown_lg .dropdown__toggle {
      font-size: 14px;
    }

    & .nav-bar__item:first-child {
      margin-left: 19px;
    }
   & .nav-bar__item {
      margin-right: 29px;
    }

      padding-left: 50px;


  }

  & .navbar-header {
    margin: 0 -15px;
  }
  & .navbar-toggle {
    margin: 0 -15px 0 0;
    background: linear-gradient(to right, #0468e6 0%, #00459d 100%);
    color: #fff;
    font-weight: 500;
    float: left;
    padding: 16px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    border-radius: 0;
  }
  & .navbar-toggle:after {
    content: '';
    margin-left: 10px;
    transition: 0.3s;
    display: inline-block;
    font-size: 11px;
    height: 7px;
    width: 7px;
    border: 2px solid #fff;
    border-top: none;
    border-left: none;

    transform: rotate(45deg) translate(0px, -4px);
  }
  & .navbar-toggle.collapse-button_active:after {
    transform: rotate(225deg);
    transform-origin: 5px 2px;
  }
  @media(max-width: $screen-xs-max){
padding-top: 10px;
    padding-left: 0px;
    .dropdown_lg .dropdown__toggle {
      font-size: 16px;
    }
    & .nav-bar__item {
      margin-right: 0;
      font-size: 16px;
      padding: 6px 0;}
    & .nav-bar__item:first-child {
      margin: 0px;
    }

    & a.dropdown__toggle,
    & .nav-bar__item > a{
     &:hover, &:focus{& span {color: #3574c3;}}
      &:before{
        display: none;
      }

    }
  }



}
