.header-main-line {
  position: relative;
  padding-top: 24px;
  @media (max-width: $screen-xs-max) {
    @include clearfix;
  }
  @media (min-width: $screen-sm-min) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
  }
}