.search__btn {
    border: none;
    background: transparent;
    position: absolute;
    right: 5px;
    font-size: 17px;
    color: #000;
    padding-top: 3px;
    padding-bottom: 3px;
    top: 50%;
    margin-top: -13px;
    &:hover:active {
        padding-block-start: 3px;
        -moz-padding-end: 6px;
    }
}
