.card-control__sorting_choice {
  &_down {
    &:after {
      content: "\f0dd";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      position: absolute;
      margin-left: 3px;
      color: #777;
    }
  }
  &_up {
    &:after {
      content: "\f0de";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      position: absolute;
      margin-left: 3px;
      margin-top: 5px;
      color: #777;
    }
  }
}