.title-line__link {
  font-family: $font-PT;
  font-size: 15px;
  color: $brand-primary;
  text-decoration: underline;
  margin-top: 14px;
  margin-right: 6px;
  float: right;
  &:focus,
  &:hover {
    text-decoration: none;
  }
}