.video-link {
  padding: 10px;
  background: #fff;
  position: relative;
  display: block;
  &:before {
    position: absolute;
    display: block;
    content: '';
    background: url("img/video.png") no-repeat center;
    width: 76px;
    height: 76px;
    top: 50%;
    margin-top: -45px;
    left: 50%;
    margin-left: -38px;
  }
}