.slider-article__title {
  font-size: 16px;
  font-weight: bold;
  color: $headings-color;
  line-height: 1.2;
  margin-bottom: 10px;

//  line-height: 1.2;
//  max-height: 2* 1.2 * 16px;
//  overflow: hidden;
}