#loading_screen {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
}
.search-popover__link-img {
    padding-right: 20px;
    padding-left: 20px;
}

.wrap-recaptcha > div {
    margin: 0 auto;
}
