.phone {
  width: 160px;
  float: left;
  padding-top: 7px;
  line-height: 1.2;
  margin-left: 5px;
  @media (max-width: $screen-sm-max) {
    margin-left: 15px;
  }
  @media (max-width: 430px) {
    width: auto;
    margin-top: 3px;
  }
  @media print {
    text-align: left !important;
    margin-left: 0 !important;
    padding-top: 0 !important;
  }
}