.card-control__sorting {
  display: inline-block;
  margin: 0 15px;
  border-bottom: 1px dashed;
  color: #777;
  &:focus,
  &:hover {
    text-decoration: none;
    color: #777;
    border-bottom: none;
  }
  @media (max-width: $screen-md-max) {
    margin: 0 12px;
  }
}