.menu-top__link {
  font-size: 15px;
  color: #777777;
  display: inline-block;
  padding: 17px 6px 16px 13px;
  .span, span{
    border-bottom: 1px dashed;
  }
  &:after {
    content: "\f107";
    font: normal normal normal 18px/1 FontAwesome;
    display: inline-block;
    margin-left: 4px;
    vertical-align: bottom;

  }
  &_popover{
    & ~ .popover{
      top: 0 !important;
      left: 100% !important;
      .arrow{
        top: 30px !important;
      }
    }
  }
  &_arrow_none{
    padding-right: 10px;
    &:after{
      content: none;
    }
  }
  .open > & {
    color: $color_primary;
    background: #fff;
    &:after {
      content: "\f106";
    }
  }
  &:focus,
  &:hover {
    text-decoration: none;
  }
  &:hover {
    color: $color_primary;
    background: #fff;
  }
  @media (max-width: $screen-md-max) {
    display: block;
    padding-left: 13px;
    padding-right: 20px;
    &:after {
      content: "\f105";
      position: absolute;
      right: 6px;
      top: 50%;
      margin-top: -8px;
    }
    .open > & {
      &:after {
        content: "\f105";
      }
    }
  }
}