.top-line__col_column {
  &_one {
    width: 30%;
    @media (max-width: $screen-md-max) {
      width: 10%;
    }
  }
  &_two {
    width: 35%;
    @media (max-width: $screen-md-max) {
      width: 45%;
    }
    @media (max-width: $screen-sm-max) {
      width: 30%;
    }
    @media (max-width: $screen-xs-max) {
      width: 44%;
      text-align: right;
    }
  }
  &_three {
    width: 35%;
    @media (max-width: $screen-md-max) {
      width: 45%;
    }
    @media (max-width: $screen-sm-max) {
      width: 60%;
    }
    @media (max-width: $screen-xs-max) {
      width: 46%;
    }
  }
}
