.btn_print {
  border: 1px solid #c6c6c6;
  color: #777777;
  &:before {
    content: '';
    display: inline-block;
    background-image: url("../img/print.png#btnicon");
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
    margin-right: 7px;
    margin-bottom: -5px;
  }
  @media print {
    display: none;
  }
}