.footer__networks {
  font-size: 0;
  margin-right: -10px;
  & > a, & > div, & > span{margin-right: 12px; &:last-child{margin-right: 0;}}
  @media(min-width: $screen-lg-min){ margin-right: -12px;}
  @media(max-width: $screen-md-max){
    order: 4;
  }

}