-
    var items = [
        'main',
        'art',
        'special',
        'girls',
        'gifs',
        'music',
        'video'
    ];

nav.l-navigation
    a.avatar: img(src='{PortraitURL-128}', alt='{Title}', width='128px', height='128px')
    ul.navigation-inline
        each val in items
            li
                a(href='javascript:void(0)')=val
