.logo {
  width: 166px;
  display: inline-block;
  float: left;
  position: relative;
  z-index: 10;
  @media(max-width: $screen-md-max){
    padding-top: 10px;
  }
  padding-top: 28px;
  & img.img {
    margin: 0 auto;
  }
  @media(max-width: $screen-sm-max){
  width: 80px;
    padding-top: 15px;
  }
  @media(max-width: $screen-xs-max){
    width: 63px;
      padding: 0;

  }
}