.slider__img {
  max-height: 360px;
  @media (max-width: $screen-md-max) {
    max-height: 400px;
  }
  @media (max-width: $screen-sm-max) {
    max-height: 306px;
  }
  @media (max-width: $screen-xs-max) {
    max-height: 400px;
  }
}