@import "compass/css3";

@font-face {
    font-family: 'segoe_uibold_italic';
    src: url('segoeuiz-webfont.eot');
    src: url('segoeuiz-webfont.eot?#iefix') format('embedded-opentype'),
         url('segoeuiz-webfont.woff') format('woff'),
         url('segoeuiz-webfont.ttf') format('truetype'),
         url('segoeuiz-webfont.svg#segoe_uibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoe_uibold';
    src: url('segoeuib-webfont.eot');
    src: url('segoeuib-webfont.eot?#iefix') format('embedded-opentype'),
         url('segoeuib-webfont.woff') format('woff'),
         url('segoeuib-webfont.ttf') format('truetype'),
         url('segoeuib-webfont.svg#segoe_uibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoe_uiregular';
    src: url('segoeui-webfont.eot');
    src: url('segoeui-webfont.eot?#iefix') format('embedded-opentype'),
         url('segoeui-webfont.woff') format('woff'),
         url('segoeui-webfont.ttf') format('truetype'),
         url('segoeui-webfont.svg#segoe_uiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoe_uilight';
    src: url('segoeuil_1-webfont.eot');
    src: url('segoeuil_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('segoeuil_1-webfont.woff') format('woff'),
         url('segoeuil_1-webfont.ttf') format('truetype'),
         url('segoeuil_1-webfont.svg#segoe_uilight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoe_uiitalic';
    src: url('segoeuii-webfont.eot');
    src: url('segoeuii-webfont.eot?#iefix') format('embedded-opentype'),
         url('segoeuii-webfont.woff') format('woff'),
         url('segoeuii-webfont.ttf') format('truetype'),
         url('segoeuii-webfont.svg#segoe_uiitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'segoe_uisemibold_italic';
    src: url('seguisbi-webfont.eot');
    src: url('seguisbi-webfont.eot?#iefix') format('embedded-opentype'),
         url('seguisbi-webfont.woff') format('woff'),
         url('seguisbi-webfont.ttf') format('truetype'),
         url('seguisbi-webfont.svg#segoe_uisemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoe_uilight_italic';
    src: url('seguili-webfont.eot');
    src: url('seguili-webfont.eot?#iefix') format('embedded-opentype'),
         url('seguili-webfont.woff') format('woff'),
         url('seguili-webfont.ttf') format('truetype'),
         url('seguili-webfont.svg#segoe_uilight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'segoe_uisemibold';
    src: url('seguisb_1-webfont.eot');
    src: url('seguisb_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('seguisb_1-webfont.woff') format('woff'),
         url('seguisb_1-webfont.ttf') format('truetype'),
         url('seguisb_1-webfont.svg#segoe_uisemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'segoe_ui_symbolregular';
    src: url('seguisym-webfont.eot');
    src: url('seguisym-webfont.eot?#iefix') format('embedded-opentype'),
         url('seguisym-webfont.woff') format('woff'),
         url('seguisym-webfont.ttf') format('truetype'),
         url('seguisym-webfont.svg#segoe_ui_symbolregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	overflow: hidden;
	background: red;
}

select::-ms-expand {
    display: none;
}

.content-catalog{
	aside{
		.aside-border{
			.top-radio{
				input[type="radio"] + label{
							border-radius: 0px;
							border: none;
							background-color: transparent;
							@include box-shadow(none);
							@include background-image(url(../images/ie/radio-bg.png));
							&:after{
								display: none;
								border: none;
							}
				}
				input[type="radio"] + label + span{
					width: auto!important;
					margin: 0 9px!important;
				}
			}
		}
		
	}
}

.horizontal-form label select + i{
	border: solid 1px #e2e2e2;
	top: 0px;
	line-height: 27px;
}

header .button-people .active-btn{
			i{
				position: relative;
				left: -1.5px;
			}
		}	
		
		
