//bootstrap resets
$grid-gutter-width:20px; //column padding
$container-tablet: 960px;
$container-sm: $container-tablet;
$container-desktop: $container-sm;
$container-md: $container-desktop;
$container-large-desktop: 83.33%;
$screen-lg: 1024px;
$nav-pills-border-radius: none; //nav a border radius
$nav-link-padding: 11.5px 0px; //nav a padding
$nav-link-hover-bg: none; //nav a:hover background
$brand-primary: #0099cc; // a color
$brand-success: #229f2e;
$brand-warning: #f9860a;
$body-bg: #ffffff; // body background
$gray: #666666;
$gray-light:#999999;
$gray-dark: #333333;
$text-color: $gray; //p color
$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 1.29));
$headings-color: $gray-dark;// h1, h2, h3 etc. color
$modal-md: 460px;
$modal-lg: 748px;
$modal-title-padding: 0px;
$modal-inner-padding: 0px;
$modal-backdrop-opacity: .8;
$breadcrumb-padding-vertical: 0px;
$breadcrumb-padding-horizontal: 0px;
$breadcrumb-bg: none;
$pagination-color: $gray;
$pagination-hover-color: #fff;
$pagination-hover-bg: #009841;
$panel-bg: none;
$panel-inner-border: none;
$panel-default-border: none;
$panel-primary-border: none;
$panel-default-heading-bg: none;
$thumbnail-border-radius: 10px;
$thumbnail-bg: #20211c;
$thumbnail-caption-padding: 0px;
$thumbnail-padding: 0px;
$thumbnail-border: none;
$table-cell-padding: 12px 0;
$table-border-color: #dcdcdc;
$panel-heading-padding: 0 12px 8px 15px;
$panel-body-padding: 0px 15px;

@import 'bootstrap';
@import "font-awesome";
@import "compass/css3";
@import "compass/reset";
$sprites-sprite-dimensions: true;
@import "compass/utilities/sprites";
@import "sprites/*.png";
@import "compass/utilities/general/hacks";
@include all-sprites-sprites;

@include font-face("segoe_uibold_italic", font-files("../fonts/segoeuiz-webfont.svg#segoe_uibold_italic" , "../fonts/segoeuiz-webfont.ttf" , "../fonts/segoeuiz-webfont.eot", "../fonts/segoeuiz-webfont.woff"));
@include font-face("segoe_uibold", font-files("../fonts/segoeuib-webfont.svg#segoe_uibold" , "../fonts/segoeuib-webfont.ttf" , "../fonts/segoeuib-webfont.eot", "../fonts/segoeuib-webfont.woff"));
@include font-face("segoe_uiregular", font-files("../fonts/segoeui-webfont.svg#segoe_uiregular" , "../fonts/segoeui-webfont.ttf" , "../fonts/segoeui-webfont.eot", "../fonts/segoeui-webfont.woff"));
@include font-face("segoe_uilight", font-files("../fonts/segoeuil_1-webfont.svg#segoe_uilight" , "../fonts/segoeuil_1-webfont.ttf" , "../fonts/segoeuil_1-webfont.eot", "../fonts/segoeuil_1-webfont.woff"));
@include font-face("segoe_uiitalic", font-files("../fonts/segoeuii-webfont.svg#segoe_uiitalic" , "../fonts/segoeuii-webfont.ttf" , "../fonts/segoeuii-webfont.eot", "../fonts/segoeuii-webfont.woff"));
@include font-face("segoe_uisemibold_italic", font-files("../fonts/seguisbi-webfont.svg#segoe_uisemibold_italic" , "../fonts/seguisbi-webfont.ttf" , "../fonts/seguisbi-webfont.eot", "../fonts/seguisbi-webfont.woff"));
@include font-face("segoe_uilight_italic", font-files("../fonts/seguili-webfont.svg#segoe_uilight_italic" , "../fonts/seguili-webfont.ttf" , "../fonts/seguili-webfont.eot", "../fonts/seguili-webfont.woff"));
@include font-face("segoe_uisemibold", font-files("../fonts/seguisb_1-webfont.svg#segoe_uisemibold" , "../fonts/seguisb_1-webfont.ttf" , "../fonts/seguisb_1-webfont.eot", "../fonts/seguisb_1-webfont.woff"));
@include font-face("segoe_ui_symbolregular", font-files("../fonts/seguisym-webfont.svg#segoe_ui_symbolregular" , "../fonts/seguisym-webfont.ttf" , "../fonts/seguisym-webfont.eot", "../fonts/seguisym-webfont.woff"));

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

@media (min-width: $screen-lg) {
	body{
		overflow-x: hidden;
	}
}

body{
	font-family: "segoe_uiregular";
	font-size: 14px;
	min-width: 990px;
}

a{
	color: $gray;
	text-decoration: underline;
	line-height: 18px;
	&:hover{
		text-decoration: none;
	}
}

	input, textarea, button, a{
		&:focus{
			outline: none;
		}
	}	
	
.blue-color, .blue-color:hover{
	color: $brand-primary;
	font-size: 14px;
	line-height: 24px;
}	
	
img{
		width: 100%;
		height: 100%;
		display: block;
	}	
	
.btn-green{
	color: #efefef;
	background: none;
	@include background-image(linear-gradient(to top, #00923f, #4db017));
	border: none;
	border-radius: 5px;
	line-height: 22px;
	@include text-shadow(0px -1px 0px rgba(0, 0, 0, 0.004));
	@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
	}	
	
	.registry-link, .registry-link:hover{
		color: #cc0000;
		outline: none;
	}
	
	.label{
		border-radius: 10px;
		display: block;
		line-height: 37px;
		margin: 8px 0 0 0;
		font-size: 14px;
		color: #fff;
		font-weight: normal;
	}

sub{
		bottom: 0;
	}	
	
h1{
	font-size: 18px;
	text-transform: uppercase;
	color: $gray-dark;
	line-height: 24px;
	}	
		
header{
	min-width: 960px;
	margin: 0 0 7px 0;
	padding: 18px 0 0 0;
	a, a:hover{
		line-height: 24px;
		color: $gray-light;
	}
	.header-top, .header-bottom{
		margin-bottom: 18px;
	}
	.header-bottom{
		img{
			width: auto;
			height: auto;
		}
	}
	.pay{
		margin: 0 0 0 37px;
	}
	.sign-in{
		width: 70px;
		margin: 0 20px 0 0;
		outline: none;
	}
	.cart, .phone{
		display: block;
		strong{
			font-weight: bold;
		}
	}
	
	.button-people{
		padding: 0;
		button{
			margin: 0 3px;
			width: 24px;
			height: 24px;
			padding: 0 3px;
			background: none;
			border: none;
			@include border-radius(5px);
			outline: none;
			font-size: 16px;
		}
		.active-btn{
			@include background-image(linear-gradient(to top, #eee, #fff));
			@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
			i{
				color: #009841;
			}
		}
	}
	nav{
		vertical-align: middle;
		margin: 0 0 52px 0!important;
		background-color: #efefef;
		@include background-image(linear-gradient(to top, #eee, #fff));
		@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
		border: 1px solid #f2f3f1;
		border-radius: 10px;
		div{
			text-align: center;
			a, a:hover{
				display: inline-block;
				@include text-shadow(0 1px #fff);
				line-height: 40px;
				height: 40px;
				text-decoration: none;
				text-transform: uppercase;
				text-align: center;
				font-family: "Segoe UI";
			}
			a{
				color: $gray;
					&:hover{
						position: relative;
						color: #009841;
						&:before{
							content: '';
							display: block;
							position: absolute;
							top: -1px;
							height: 2px;
							width: 100%;
							border-radius: 0 0 3px 2px/0 0 2px 2px;
							@include box-shadow(0 1px #fff);
							@include background-image(linear-gradient(to bottom, #00923f, #4db017));
						}
						&:after{
							content: '';
							display: block;
							position: absolute;
							bottom: -1px;
							height: 2px;
							width: 100%;
							border-radius: 2px 3px 0 0/1px 1px 0 0;
							@include box-shadow(0 -1px #fff);
							@include background-image(linear-gradient(to top, #00923f, #4db017));
							
						}
					}
			}
		}	
	}
}

.search-form{
		position:relative;
		input[type="search"], button{
			outline: none;
		}
			.search-main{
						-moz-appearance:none;
						-webkit-appearance:none;
						-o-appearance:none;
						height: 34px;
						border-radius: 8px;
						padding: 0 0 0 9px;
						width: 100%;
						font-size: 14px;
						font-style: italic;
						color: $gray-light;
						line-height: 24px;
						background-color: #efefef;
						border: solid 1px #e2e2e2;
						@include background-image(linear-gradient(to bottom, #f3f3f3, #fff));
						
		}
		.search-icon{
			background: none;
			border: none;
			position: absolute;
			top: 4px;
			right: 10px;
			z-index: 3;
			span{
				display: inline-block;
				@extend .sprites-search-icon;
			}
		}
	}

.nav-image{
	height: 438px;
	position: relative;
	.nav-image-bg{
		background: url(../images/apteka_pic.png);
		background-position: center center;
		height: 758px;
	}
		a{
		position: absolute;
		color: $gray;
		font-weight: bold;
		font-size: 14px;
		line-height: 40px;
		padding: 0 15px;
		@include background-image(linear-gradient(to bottom, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%));
		border-radius: 7px;
		@include box-shadow(0px -1px 3px 0px rgba(0, 0, 0, 0.38), 0px 0px 8px 0px rgba(255, 255, 255, 0.7) inset);
		text-decoration: none;
		@include text-shadow( 0px -1px 0px rgba(255, 255, 255, 1));
		&:hover{
			text-decoration: underline;
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border: 3px solid #f4f4f4;
			@include background-image(linear-gradient(to top, #00923f, #4db017));
			@include box-shadow( 0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
			top: -10px;
			left: -10px;
			
		}
	}
	.link-centred{
		position: relative;
		z-index: 5;
		width: 960px;
		margin: 0 auto;
		.catalog-link{
			bottom: -180px;
			left: 78px;
		}
		.about-link{
			bottom: -128px;
			left: 548px;
		}
		.individuals-link{
			bottom: -282px;
			right: 123px;
			&:before{
				left: 95%;
			}
		}
	}
}

.content-main{
	position: relative;
	z-index: 3;
}

.actions{
	padding: 0 10px;
	margin-bottom: 30px;
	a{
		padding: 0 10px;
	}
	h1{
		margin: 0 0 20px 0;
		padding: 0 10px;
		font-size: 18px;
		text-transform: uppercase;
	}
	section{
		margin: 0 0 22px 0;
		a{
			padding: 0;
		}
	}
}

.separator:after{
	margin: 14px 0 0 0;
	content: '';
	display: block;
	width: 84px;
	height: 3px;
	background: #4cb115;
}

.banner{
	min-width: 960px;
	padding: 0 10px;
	.thumbnail{
		overflow: hidden;
		margin: 0 0 40px 0;
		padding: 0;
		border: none;
		height: 107px;
		line-height: 68px;
		@include border-radius(10px);
		background-color: #000;
		@include box-shadow( 0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
		@include background-image(linear-gradient(to top,  rgb(238,238,238) 0%, rgb(255,255,255) 100%));
		.caption{
			height: 96px;
			overflow: hidden;
			padding: 20px 0 0 19px;
			a{
				vertical-align: middle;
				cursor: pointer;
				font-size: 24px;
				line-height: 24px;
				font-weight: bold;
				font-family: "segoe_uisemibold";
				color: $gray;
				text-decoration: none;
				text-transform: uppercase;
				display: inline-block;
				width: 51%;
				@include text-shadow(0 1px #fff);
				position: relative;
				z-index: 3;
				&:hover{
					text-decoration: underline;
				}
			}
			img{
				width: auto;
				height: auto;
				position: absolute;
				top: 0px;
				right: 10px;
				@include border-radius(0 10px 10px 0);
				@include background-image(linear-gradient(to top, #eee, #fff));
			}
		}
	}
}

.date{
	color: #4bae13;
	display: block;
	line-height: 24px;
}

.fa-pencil{
	float: left;
	height: 80px;
	margin: 0 12px 0 0;
}

.inf{
	margin-bottom: 45px;
	aside, section{
		position: relative;
		.blue-color{
			position: absolute;
			bottom: 0px;
		}
	}
	h1{
		font-size: 18px;
		text-transform: uppercase;
	}
	h1, .news-item, a{
			padding: 0 0 0 10px;
		}
	.news{
		padding-bottom: 14px;
		.blue-color{
			position: absolute;
			bottom: 0px;
			left: 10px;
		}
		h1{
			margin: 0 0 20px 0;
			text-transform:uppercase;
		}
		.news-item{
			margin: 0 0 14px 0;
			float: left;
			a{
				padding: 0;
			}
		}
	}
	section{
		padding: 0 0 30px 0;
			h1{
				margin: 0 0 20px 0;
				text-transform:uppercase;
			}
			p{
				margin: 0 0 23px 0;
				padding: 0 0 0 30px;
				line-height: 18px;
			}
		}
}

footer{
	overflow: hidden;
	background-color: rgba(73,173,13,.05);
	.ellipse{
		height: 24px;
		width: 100%;
		border-radius: 100%;
		background: #FFFFFF;
		margin: 0 0 54px 0;
		position: relative;
		top: -12px;
		@include box-shadow(0px 3px 5px 0px rgba(0, 0, 0, 0.1));
	}
	.footer-row{
		margin-bottom: 34px;
		padding: 0 10px;
		div{
			height: 172px;
			border-left: 1px solid #e1e3e0;
			&:first-child{
				border: none;
			}
		}
		address{
		line-height: 24px;
			.d-plus{
				color: $gray-light;
				&:after{
					content: '';
					display: block;
					height: 1px;
					width: 45%;
					background: #dfe2dd;
					margin: 15px 0 0 0;
				}
			}
			.mail{
				margin: 0 0 0 4px;
			}
			.skype{
				color: $gray-dark;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		ul{
			display:block;
			width: 76%;
			margin: 0 auto;
			li a, a:hover{
				font-size: 12px;
				line-height: 24px;
				color: $gray;
			}
		} 
		.magwai{
			display: block;
			text-align: center;
			font-size: 14px;
		}
	}
}

//modal form

.modal-form{
	.modal-title{
		padding: 0 0 20px 0;
	}
	.close, .close:hover, .close:focus{
		opacity: 1;
		filter: alpha(opacity=100);
		right: -7px;
	}
	.modal-content{
		border-radius: 10px;
		@include background-image(linear-gradient(to top, #00923f, #4db017));
		@include box-shadow(0 1px 10px #000);
		padding: 3px;
		.border{
			padding: 20px 17px 25px 17px;
			border-radius: 10px;
			background: #fbfdfa;
			
		}
	}
	.modal-body{
		padding: 15px 0 30px 0;
	}
	h1{
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.message{
		display: block;
		color: $gray;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		padding: 0 0 20px 0;
	}
	.modal-submit{
		margin: 0 0 2px 0;
		outline: none;
		padding: 0 20px;
		border: none;
		border-radius: 10px;
		background-color: #efefef;
		@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
		@include background-image(linear-gradient(to top, #00923f, #4db017));
		color: #efefef;
		font-size: 18px;
		line-height: 40px;
		@include text-shadow(0px -1px 0px rgba(0, 0, 0, 0.004));
		text-transform: uppercase;
	}
	.modal-footer{
		text-align: center;
		border: none;
		padding: 0;
	}
	input{
		-moz-appearance:none;
		-webkit-appearance:none;
		-o-appearance:none;
		font-size: 14px;
		font-style: italic;
		font-family: "Segoe UI";
		text-align: center;
		width: 100%;
		line-height: 24px;
		height: 40px;
		outline: none;
		border-radius: 10px;
		border: solid 1px #e2e2e2;
		background-color: #fff;
		@include background-image(linear-gradient(to bottom, #f3f3f3, #fff));
		margin: 0 0 20px 0;
		&:required{
			border: 1px solid #f9860a;
		}
	}
	textarea{
		@extend input;
		padding: 14px 0 0 0;
		line-height: 24px;
		resize: none;
		height: 90px;
	}
	.f-form{
		margin: 0 0 20px 0;
		input[type="radio"]{
			visibility: hidden;
		}
		input[type="radio"]+label{
					cursor: pointer;
					display: inline-block;
					margin: 0;
					-moz-appearance:none;
					-webkit-appearance:none;
					-o-appearance:none;
					width: 20px;
					height: 20px;
					@include border-radius(10px);
					border: solid 1px #e2e2e2;
					@include background-image(linear-gradient(to top, #eee, #fff));
					@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
					position: relative;
						&:after{
							position: absolute;
							top: 2px;
							left: 2px;
							content: '';
							display: block;
							@include border-radius(7px);
							width: 14px;
							height: 14px;
							border: solid 1px #e2e2e2;
							@include background-image(linear-gradient(to bottom, #f3f3f3, #fff));	
						}
						span{
							line-height: 20px;
							height: 20px;
							font-size: 14px;
							color: #000;
							text-transform: uppercase;
							margin: 0 0 0 9px;
							position: absolute;
							display: inline-block;
							width: 200px;
							left: 20px;
						}
		}
	input[type="radio"]:checked+label{
				&:after{
					-moz-appearance:none;
					-webkit-appearance:none;
					-o-appearance:none;
					position: absolute;
					top: 2.5px;
					left: 2px;
					content: '';
					display: block;
					@include border-radius(7px);
					width: 14px;
					height: 14px;
					@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
					@include background-image(linear-gradient(to top, #00923f, #4db017));
				}
		}
	input[type="radio"]:focus{
			outline: none;
		}
	}
}

.close{
	position: relative;
	width: 20px;
	height: 20px;
}

.close-icon{
		display: block;
		width: 20px;
		height: 20px;
		margin: 0;
		cursor: pointer;
	}

.sign-in-form{
	input, button{
		&:focus{
				outline: none;
			}
	}
	input{
			-moz-appearance:none;
			-webkit-appearance:none;
			-o-appearance:none;
			margin: 0 0 20px 0;
			line-height: 24px;
			height: 40px;
			width: 100%;
			border-radius: 10px;
			border: solid 1px #e2e2e2;
			@include background-image(linear-gradient(to bottom, #f3f3f3, #fff));
			font-size: 14px;
			font-style: italic;
			color: $gray-light;
			text-align: center;
				}
	.modal-dialog{
			min-width: 748px;		
		}			
	.modal-content{
		border: none;
		box-shadow: none;
		background: none;
		.modal-header{
			position: relative;
			top: 20px;
			z-index: 3000;
			border: none;
		.top-h, .top-b{
			height: 20px;
			width: 582px;
		}
		.content-h{
			padding: 0 3px;
			width: 582px;
			@include background-image(linear-gradient(to top, #00923f, #4db017));
			.border-h{
				height: 186px;
				background-color: #00923f;
				h1{
					text-align: center;
					font-size: 18px;
					font-weight: bold;
					text-transform: uppercase;
					margin: 0 0 18px 0;
					color: #fff;
					@include text-shadow( 0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
					
				}
				.message-h{
					display: block;
					text-align: center;
					color: #ffffff;
					font-size: 14px;
					line-height: 18px;
					margin: 0 0 22px 0;
					padding: 0 85px;
				}
				.reg{
					margin: 0 auto;
					display: block;
					border: none;
					line-height: 50px;
					width: 281px;
					text-align: center;
					text-transform: uppercase;
					font-size: 18;
					color: #efefef;
					border-radius: 10px;
					background-color: #efefef;
					@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
					@include background-image(linear-gradient(to top, #00923f, #4db017));
					@include text-shadow(0px -1px 0px rgba(0, 0, 0, 0.004));
					
				}
				.close{
					right: 10px;
				}
			}
		}
		.top-h, .top-b, .content-h{
			margin: 0 auto;
		}
	}
		.modal-body{
			padding: 0 3px;
			position: relative;
			z-index: 1000;
			width: 484px;
			margin: 0 auto;
			.border-body{
				display: block;
				width: 100%;
				background: #fdfdfd;
				padding: 50px 28px 5px 28px;
			}
		}
		.modal-footer{
			height: 21px;
			width: 482px;
			margin: 0 auto;
			border: none;
			z-index: 1;
			position: relative;
			button{
				margin: 0 auto;
				display: block;
				border: none;
				width: 110px;
				line-height: 40px;
				border-radius: 10px;
				background-color: #efefef;
				@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
				@include background-image(linear-gradient(to top, #00923f, #4db017));
				@include text-shadow(0px -1px 0px rgba(0, 0, 0, 0.004));
				font-size: 18px;
				text-transform: uppercase;
				color: #efefef;
				cursor: pointer;
			}
		}
		.password-restore-bg{
			padding: 3px;
			margin: 0 auto;
			width: 484px;
			position: relative;
			top: -196px;
			@include background-image(linear-gradient(to top, #00923f, #4db017));
			@include box-shadow(0 1px 10px #000);
			@include border-radius(0 0 10px 10px);
			.password-restore{
				@include border-radius(0 0 10px 10px);
				background-color: #fbfdfa;
				padding: 253px 26px 26px 26px;
				h1, span, input[type = "email"], .restore-submit{
					text-align: center;
				}
				h1{
					font-size: 18px;
					font-weight: bold;
					text-transform: uppercase;
					color: #000;
					margin: 0 0 24px 0;
				}
				span{
					display: block;
					font-size: 14px;
					color: $gray;
					margin: 0 0 10px 0;
				}
				.restore-submit{
					padding: 10px 0 0 0;
					button{
						border: none;
						position: relative;
						display: block;
						margin: 0 auto;
						width: 230px;
						line-height: 40px;
						height: 40px;
						border-radius: 10px;
						@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
						@include background-image(linear-gradient(to top, #00923f, #4db017));
						font-size: 18px;
						text-transform: uppercase;
						color: #efefef;
						@include text-shadow( 0px -1px 0px rgba(0, 0, 0, 0.004));
						text-decoration: none;
					}
				}
				.close{
					cursor: pointer;
					position: absolute;
					right: 10px;
					bottom: 249px;
					width: 20px;
					height: 20px;
					background: none;
					border: none;
					box-shadow: none;
				}
			}
		}
	}
	
	.close, .close:hover, .close:focus{
		opacity: 1;
		filter: alpha(opacity=100);
	}
}

//breadcrumb

.breadcrumb{
	a{
		color: $brand-primary;
		text-decoration: underline;
		font-size: 12px;
		&:hover{
			text-decoration: none;
		}
	}
	li + li:before{
		color: $gray-dark;
	}
	.active{
		color: $gray-dark;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}

//pagination

.pagination{
	overflow: hidden;
	width: 100%;
	position: relative;
	left: -50px;
	display: block;
	margin: 0;
	padding: 20px 0 74px 110px;
	.next-btn, .prev-btn, .next-btn:hover, .prev-btn:hover{
			width: 78px;
			padding: 0!important;
		}
		.prev-btn{
			margin-right: 12px;
		}
		.next-btn{
			margin-left: 7px;
		}
	a{
		border: none!important;
		line-height: 24px!important;
		margin: 0 5px 0 0;
		padding: 0px 9.5px!important;
		width: 27px;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		color: $gray;
		@include text-shadow(0 1px #fff);
		text-align: center;
		@include border-radius(5px);
		@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
		@include background-image(linear-gradient(to top, #eee, #fff));
		&:hover{
			width: 27px;
			padding: 0px 10px!important;
			font-size: 14px;
			font-weight: normal;
			text-transform: uppercase;
			color: #efefef;
			@include text-shadow(0px -1px 0px rgba(0, 0, 0, 0.004));
			@include border-radius(5px);
			@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
			@include background-image(linear-gradient(to top, #00923f, #4db017));
		}
	}
}

.pagination-shadow{
	overflow: hidden;
	height: 15px;
	&:before{
		content: '';
		display: block;
		height: 10px;
		background: transparent;
		border-radius: 70%;
		@include box-shadow(0px 0px 10px 0px rgba(50, 50, 50, 0.3));
		position: relative;
		top: -5px;
		width: 100%;
	}
}

//question

.question-nav{
	margin: 0 0 30px 0;
}

.content-question{
	.breadcrumb{
		margin-top: -20px;
	}
	article{
		margin: 0 0 43px 0;
		h1{
			line-height: 18px;
			margin: 0 0 25px 0;
		}
		section{
			border-bottom: 1px solid #f4f4f3;
			margin: 0 0 20px 0;
			h2, h3{
				float: left;
				font-weight: bold;
				margin: 0 5px 0 0;
				text-transform: uppercase;
				font-family: "segoe_uibold";
			}
			h2, h3, span{
				font-size: 14px;
				line-height: 18px;
			}
			.question{
					h2, span{
						color: $gray-dark;
					}
					h2{
						margin: 0 0 20px 0;
						&:after{
							content: '';
							display: block;
							height: 3px;
							width: 83px;
							background: #4cb115;
							margin: 10px 0 0 0;
						}
					}
					span{
						position: relative;
						left: -18px;
					}
			}
			.answer{
				h3, span{
					color: $gray;
				}
				h3{
					margin: 0 5px 0 40px;
					height: 62px;
				}
			}
		}
	}
	.display-more{
		display: block;
		margin: 0 auto 50px auto;
		border: none;
		width: 167px;
		line-height: 40px;
		text-align: center;
		text-decoration: none;
		border-radius: 10px;
		background-color: #efefef;
		@include box-shadow( 0 1px 5px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
		@include background-image(linear-gradient(to top, #00923f, #4db017));
		@include text-shadow( 0px -1px 0px rgba(0, 0, 0, 0.004));
		font-size: 18px;
		text-transform: uppercase;
		color: #efefef;
	}
}

//contacts

.content-contacts{
	margin-bottom: 227px;
	h1{
		margin: 0 0 46px 0;
	}
	.breadcrumb{
		margin-top: -22px;
		margin-bottom: 42px;
	}
	.contact-row{
		margin-bottom: 46px;
	}
	p{
		padding: 21px 0 0 0;
		min-width: 310px;
		&:first-child{
			padding: 0;
		}
		span{
			width: 133px;
			float: right;
			color: #000;
			a{
				color: $brand-primary;
			}
		}
	}
	.map{
		overflow: hidden;
		z-index: 99;
		height: 154px;
		float: right;
		position: relative;
		width: 93.23%;
		@include border-radius(10px);
		@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
		iframe{
			position: absolute;
			top: 0; 
			left: 0;
			z-index: 50;
			width: 100%;
			height: 154px;
			@include border-radius(10px);
		}
	}
}

//catalog

.content-catalog{
	margin-top: -20px;
	min-width: 1000px;
	overflow: hidden;
	.form-1{
		margin: 0 0 12px 0;
	}
	.form-2{
		margin: 0 0 5px 0;
	}
	.form-3{
		margin: 0 0 4px 0;
	}
	.breadcrumb{
		margin-bottom: 44px;
	}
	h1{
		width: 75%;
	}
	.pop-overflov{
		overflow: hidden;
		padding-bottom: 45px;
		.popover-green{
			position: relative;
			margin: 0 4px 0 0;
			font-size: 14px;
			color: #efefef;
			@include text-shadow(0px -1px 0px rgba(0, 0, 0, 0.004));
			float: right;
			width: 130px;
			height: 24px;
			line-height: 24px;
			text-align: center;
			@include border-radius(5px);
			@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
			@include background-image(linear-gradient(to top, #00923f, #4db017));
		select{
			position: relative;
			z-index: 3;
			background: none;
			border: none;
			width: 150%;
			outline: none;
			padding: 0 4px;
			option{
				color: #000;
			}
		}
		.arrow-overflow{
			overflow: hidden;
			.popover-arrow{
				position: absolute;
				display: inline-block;
				left: 0px;
				bottom: -8px;
				z-index: 3;
				@extend .sprites-popover-arrow;
			}
		}	
	}
	.fa-angle-down{
		padding: 5px 8px;
		float: right;
		width: 25px;
		height: 24px;
		@include border-radius(5px);
		background-color: #009841;
		@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
		@include background-image(linear-gradient(to top, #00923f, #4db017));
		color: #efefef;
		@include text-shadow(0px -1px 0px rgba(0, 0, 0, 0.004));
		z-index: 6;
	}
	}
	
	form{
		position:relative;
		.catalog-search, button{
			outline: none;
		}
			.catalog-search{
						-moz-appearance:none;
						-webkit-appearance:none;
						-o-appearance:none;
						height: 34px;
						border-radius: 8px;
						padding: 0 0 0 9px;
						margin: 0 0 46px 0;
						width: 100%;
						font-size: 14px;
						font-style: italic;
						color: $gray-light;
						line-height: 24px;
						border: solid 1px #e2e2e2;
						@include background-image(linear-gradient(to bottom, #f3f3f3, #fff));			
		}
		button{
			background: none;
			border: none;
			position: absolute;
			top: 5px;
			right: 0px;
			span{
				display: inline-block;
				@extend .sprites-search-icon;
			}
		}
	}
	section{
		margin-bottom: 50px;
		position: relative;
		img{
			display: block;
			height: 100%;
			width: 100%;
			border-radius: 10px;
			background-color: #fff;
			border: solid 1px #aeaeae;
			
		}
	.item-inf{
		a{
			display: block;
			font-size: 16px;
			line-height: 18px;
			margin: 0 0 28px 0;
		}
		p{
			font-size: 12px;
			line-height: 20px;
			color: #818181;
			span{
				color: $gray-dark;
				padding: 0 0 0 5px;
				font-size: 14px;
			}
		}
	}
	.add-cart{
		float: right;
		position: relative;
		span{
			display: block;
			font-family: "Segoe UI";
			font-size: 30px;
			font-style: italic;
			font-weight: bold;
			color: #17a53b;
			sub{
				font-size: 14px;
				color: #a6a6a6;
				font-weight: normal;
				margin:  0 0 0 5px;
			}
		}
	}
	.favorite-add{
		position: absolute;
		bottom: 0px;
		right: 0px;
		.fav{
			text-decoration: none;
			font-size: 13px;
			color: #17a53b;
			i{
				margin-right: 6px;
			}
			span{
				border-bottom: 1px dotted #17a53b;
			}
			&:hover{
				span{
					border-bottom: none;
				}
			}
		}
	}
	.add-btn, .add-btn:hover{
			display: block;
			line-height: 24px;
			height: 24px;
			width: 96px;
			text-align: center;
			text-decoration: none;
			background-color: #009841;
			border-radius: 5px;
			@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
			@include background-image(linear-gradient(to top, #00923f, #4db017));
			@include text-shadow(0px -1px 0px rgba(0, 0, 0, 0.004));
			text-transform: uppercase;
			color: #efefef;
			margin: 16px 0 0 0;
		}
	}
	aside{
		float: right;
		width: 396px;
		float: right;
		padding: 3px;
		@include border-radius(10px);
		@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
		@include background-image(linear-gradient(to top, #00923f, #4db017));
		.show-all{
			font-size: 12px;
			color: #17a53b;
			text-decoration: none;
			border-bottom: 1px dotted #17a53b;
			margin: 0px 0 0 15px;
			&:hover{
				border-bottom: none;
			}
		}
		.aside-border{
			padding: 10px;
			@include border-radius(10px);
			background-color: #fbfdfa;
		.panel-group{
			margin-bottom: 13px;
		}
		.panel{
			@include box-shadow(none);
			.panel-title{
				font-size: 14px;
				line-height: 18px;
				font-weight: bold;
				a, a:hover{
					position: relative;
					text-decoration: none;
					color: #000;
					span{
						@extend .sprites-arrow;
						display: block;
						position: absolute;
						right: -32px;
						top: 5px;
					}
				}
			}
			.collapsed{
				 span{
						 background-position: 0 0!important;
					}
			}
		}
		button{
			margin: 0 10px 12px 10px;
			border:none;
			width: 230px;
			height: 40px;
			@include border-radius(10px);
			background-color: #efefef;
			@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
			@include background-image(linear-gradient(to top, #00923f, #4db017));
			font-size: 18px;
			text-transform: uppercase;
			color: #efefef;
			@include text-shadow(0px -1px 0px rgba(0, 0, 0, 0.004));
			line-height: 24px;
		}
		form{
			input[type="radio"], input[type="checkbox"]{
				display: none;
			}			
			input[type="radio"] + label, input[type="checkbox"] + label{
				position: relative;
				cursor: pointer;
				font-size: 12px;
				line-height: 13px;
				color: #000;
				display: inline-block;
				height: 13px;
				margin: 0 0 12px 18px;
				vertical-align: top;
				span{
					display: inline-block;
					cursor: pointer;
					position: absolute;
					left: -18px;
				}
			}
			input[type="radio"] + label{
				span{
					-moz-appearance:none;
					-webkit-appearance:none;
					-o-appearance:none;
					width: 13px;
					height: 13px;
					@include border-radius(50%);
					border: solid 1px #e2e2e2;
					@include background-image(linear-gradient(to top, #eee, #fff));
					@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
						&:after{
							position: absolute;
							top: 1.4px;
							left: 1px;
							content: '';
							display: block;
							@include border-radius(50%);
							width: 9px;
							height: 9px;
							border: solid 1px #e2e2e2;
							@include background-image(linear-gradient(to bottom, #f3f3f3, #fff));	
						}
				}			
		}
			input[type="radio"]:checked + label{
				span{
					&:after{
							-moz-appearance:none;
							-webkit-appearance:none;
							-o-appearance:none;
							position: absolute;
							top: 1.4px;
							left: 1px;
							content: '';
							display: block;
							@include border-radius(50%);
							width: 9px;
							height: 9px;
							@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
							@include background-image(linear-gradient(to top, #00923f, #4db017));
							
						}
					}	
				}
			input[type="radio"]:focus{
					outline: none;
				}
				input[type="checkbox"] + label{
					span{
						-moz-appearance:none;
						-webkit-appearance:none;
						-o-appearance:none;
						@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
						@include background-image(linear-gradient(to top, #eee, #fff));
						width: 12px;
						height: 12px;
						&:after{
							content: '';
							display: block;
							@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
							border: solid 1px #aeaeae;
							width: 8px;
							height: 8px;
							position: absolute;
							top: 2px;
							left: 2px;
						}
					}
				}	
				input[type="checkbox"]:checked + label{
					span{
						&:after{
							-moz-appearance:none;
							-webkit-appearance:none;
							-o-appearance:none;
							content: '';
							display: block;
							position: absolute;
							top: 2px;
							left: 2px;
							@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
							@include background-image(linear-gradient(to top, #00923f, #4db017));
							width: 8px;
							height: 8px;
						}
					}
				}
				input[type="checkbox"]:focus{
					outline: none;
				}
		}
		.top-radio{
			margin-top: 8px;
			margin-bottom: 43px;
			padding: 0 10px;
			input[type="radio"] + label{
				margin: 0 27px 12px 32px;
				span{
					left: -32px;
					display: inline-block;
					width: 20px;
					height: 20px;
					&:after{
						width: 14px;
						height: 14px;
						top: 2.4px;
						left: 2px;
					}
				}
			}
			input[type="radio"]:checked + label{
				span{
					&:after{
						width: 14px;
						height: 14px;
						top: 2.5px;
						left: 2px;
					}
				}
			}
			input[type="radio"] + label, input[type="checkbox"] + label{
				cursor: pointer;
				line-height: 18px;
				font-size: 13px;
			}
		}
		.cost{
			margin: 0 -10px 27px -10px;
			.noUi-handle{
					cursor: pointer;
				}
			.row-number{
				width: 336px;
				margin: 0 auto;
				span{
					display: inline-block;
					position: relative;
					margin-bottom: 24px;
					margin-left: 74px;
					&:after{
						content: '';
						width: 1px;
						height: 18px;
						display: block;
						background: #bae0c5;
						position: absolute;
						left: 50%;
						bottom: -24px;
					}
					&:first-child{
						margin: 0;
					}
				}
			}
			.catalog-slider{
				margin: 0 0 20px 0;
				width: 336px;
			}
			input[type="text"]{
				-moz-appearance:none;
				-webkit-appearance:none;
				-o-appearance:none;
				margin-right: 2px;
				width: 140px;
				height: 28px;
				@include border-radius(10px);
				background-color: #fff;
				border: solid 1px #e2e2e2;
				@include background-image(linear-gradient(to bottom, #f3f3f3, #fff));
				font-family: "Segoe UI";
				font-size: 13px;
				color: #000;
				text-align: center;
				line-height: 18px;
			}
			label{
				font-size: 14px;
				font-style: italic;
				color: $gray-light;
				font-family: "segoe_uiitalic";
				&.from{
					margin: 0 6px 0 0;
				}
				&.to{
					margin: 0 3px 0 6px;
				}
			}
		}
	}
		}	
		.pagination{
			padding: 36px 0 74px 42px!important;
			&:after{
				left: -42px;
			}
		}
}

// main-catalog

.content-main-catalog{
	margin-bottom: 25px;
	a{
		display: block;
		color: #0099cc;
		padding: 0 0 10px 12px;
		font-size: 13px;
		line-height: 13px;
	}
	.breadcrumb{
		margin-top: -20px;
		margin-bottom: 42px;
		a{
			padding: 0;
		}
	}
	h1{
		line-height: 18px;
		margin: 0 0 42px 0;
	}
	.row{
		margin-bottom: 50px;
	}
	.link-header{
		padding: 0 0 18px 0;
		font-size: 16px;
		color: #c00;
		line-height: 16px;
	}
}

//physical-face

.content-face{
	margin-bottom: 38px;
	.breadcrumb{
		margin-top: -22px;
		margin-bottom: 15px;
	}
	.content-header{
		margin-bottom: 22px;
		text-align: center;
		position: relative;
		z-index: 3;
		background: #fff;
		.image-big{
			position: relative;
			z-index: -3;
		}
		.content-header-inner{
			display: inline-block;
			h1, .header-image{
				float: left;
			}
			h1{
				margin: 58px 0 0 0;
				font-size: 30px;
				text-transform: uppercase;
				color: $gray-dark;
			}
			.header-image{
				margin: 0 30px 0 12px;
				height: 133px;
				width: 110px;
				overflow: hidden;
				img{
					width: auto;
					height: auto;
				}
			}
		}
	}
	.shadow-effect{
		width: 106%;
		left: -3%;
		bottom: 2px;
		position: absolute;
		height: 10px;
		background: transparent;
		@include border-radius(70%);
		@include box-shadow(0px 6px 10px -3px rgba(50, 50, 50, 0.3));
		z-index: -1;
	}
	p{
		font-size: 14px;
		color: $gray-dark;
	}
	h2{
		font-size: 14px;
		text-transform: uppercase;
		color: #000;
		&:after{
			content: '';
			display: block;
			height: 3px;
			width: 83px;
			background: #4cb115;
			margin: 10px 0 0 0;
		}
	}
	section{
		margin: 0 0 30px 0;
		h2{
			margin: 22px 0 16px 0;
		}
	}
	.photo-video{
		.row-thumb{
			min-width: 940px;
			margin: 0 0 28px 0!important;
			text-align: justify;
			&:after{
				content: '';
				display: inline-block;
				width: 100%;
			}
		}
		h2{
			margin: 0 0 25px 0;
		}
		a{
			background-color: #fff;
			display: inline-block;
			position: relative;
			@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
			overflow: hidden;
			width: 140px;
			height: 140px;
			&.video:after{
				content: '';
				display: block;
				@extend .sprites-triangle;
				position: absolute;
				top: 52px;
				left: 56px;
			}
		}
	}
	#Modal-slider{
		.modal-dialog{
			margin: 238px auto;
		}
		.modal-header{
			.close{
				opacity: 1;
				filter: alpha(opacity=100);
				position: absolute;
				right: 14px;
				top: 14px;
			}
			h1{
				font-size: 18px!important;
				line-height: 24px;
				font-weight: bold!important;
				font-family: "segoe_uibold";
			}
		}
		.modal-content{
			padding: 4px;
			@include background-image(linear-gradient(to top, #00923f, #4db017));
			@include border-radius(10px);
			@include box-shadow(0 1px 10px #000);
			.slider-border{
				padding: 20px 18px 15px 18px;
				@include border-radius(10px);
				background: #fbfdfa;
			}
			.close{
				opacity: 1;
				span{
					display: block;
				}
			}
			h1{
				padding: 0 0 24px 0;
				text-align: center;
				font-size: 18px;
				font-weight: bold;
				text-transform: uppercase;
				color: #000;
			}
			.carousel-inner{
				margin: 0 0 16px 0;
			}
			.slide-controls{
				a{
					text-decoration: none;
					text-align: center;
					width: 130px;
					line-height: 33px;
					@include border-radius(10px);
					@include box-shadow(0 1px 5px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
					@include background-image(linear-gradient(to top, #00923f, #4db017));
					font-size: 14px;
					text-transform: uppercase;
					color: #efefef;
					@include text-shadow(0px -1px 0px rgba(0, 0, 0, 0.004));
				}
			}
		}
	}
	.pagination-shadow{
		margin: 0 auto;
		width: 89.89%;
		&:before{
			border-radius: 45%;
		}
	}
}


.juristic{
	.header-image{
		width: 124px!important;
	}
}

.header-description{
	padding: 80px 0 0 0;
	text-align: left;
	h1{
		font-size: 30px;
		margin: 0 0 15px 0;
	}
	p{
		font-size: 14px;
		color: $gray-dark;
	}
}

.content-news{
	h1{
		padding: 0 0 46px 0;
	}
	section{
		padding: 25px 0;
		border-bottom: 1px solid #f4f4f3;
		div{
			min-height: 111px;
		}
		&:hover{
			background: #ededed;
			a{
				span{
					background: #ededed;
				}
			}
		}
		a, span{
			display: block;
		}
		a{
			position: relative;
			font-size: 14px;
			text-decoration: underline;
			color: $gray;
			margin: 13px 0 11px 0;
			span{
				position: absolute;
				top: -38px;
				left: -44px;
				width: 34px;
				height: 162px;
				i{
					color: $gray-light;
					font-size: 16px;
					height: auto;
					top: 41px;
					position: absolute;
					left: 9px;
				}
			}
		}
		span{
			color: #4bae13;
		}
		img{
			width: 100%;
			height: 100%;
			@include border-radius(5px 4px 4px 5px, 5px 5px 4px 4px);
			background-color: #20211c;
			@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
			cursor: pointer;
		}
	}
	.display-more{
		margin: 86px auto 50px auto;
		text-decoration: none;
		display: block;
		width: 167px;
		line-height: 40px;
		text-align: center;
		@include border-radius(10px);
		@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
		@include background-image(linear-gradient(to top, #00923f, #4db017));
		color: #efefef;
	}
}

.content-new{
	margin-bottom: 90px;
	article{
		.breadcrumb{
			margin-bottom: 42px;
		}
		h1{
			margin: 0 0 32px 0;
			text-transform: none;
		}
		.well{
			line-height: 24px;
			margin: 38px 0 47px 21px!important;
			padding: 33px 30px 34px 30px;
			font-family: "Segoe UI";
			font-size: 18px;
			color: $gray;
			width: 90.32%;
			@include border-radius(30px);
			border: solid 1px #e2e2e2;
			@include background-image(linear-gradient(to bottom, #f3f3f3, #fff));
		}
		p{
			line-height: 18px;
			clear: both;
		}
	}
	aside{
		padding-top: 56px;
		img{
			@include border-radius(10px);
			border: solid 1px #aeaeae;
			margin: 0 0 20px 0;
		}
	}
}

.content-search{
	.breadcrumb{
		margin-top: -20px;
		margin-bottom: 43px;
	}
	h1{
		margin: 0 0 37px 0;
	}
	form{
		@extend .search-form;
		margin: 0 0 40px 0;
		.search-icon{
			right: 2px;
		}
	}
	.tab-content{
		margin-bottom: 39px;
		.search-row{
			border-bottom: 1px solid #e6e6e6;
			padding: 18px 0;
			a{
				color: #4bae13;
				line-height: 24px;
				font-weight: bold;
				font-family: "segoe_uibold";
				margin: 0 0 16px 0;
				display: inline-block;
			}
			P{
				margin: 0 0 21px 0;
			}
			.breadcrumb{
				margin-bottom: 0px;
				a{
					font-size: 14px;
					font-family: "segoe_uiitalic";
					font-weight: normal;
					font-style: italic;
					color: #7a7a7a;
					margin: 0;
				}
			} 
		}
	}
	
	.nav-tabs{
		margin: 0 0 14px 0;
		border: none;
		li{
			margin-right: 10px;
			a, a:hover{
				text-transform: uppercase;
				color: #efefef!important;
				@include text-shadow( 0px -1px 0px rgba(0, 0, 0, 0.004));
				text-decoration: none;
				font-size: 14px;
				padding: 0;
				border: none;
				width: 130px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				@include border-radius(10px);
				@include box-shadow(0 1px 5px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
				@include background-image(linear-gradient(to top, #00923f, #4db017));
			}
			&.active{
				a{
					@include box-shadow(0 1px 5px rgba(0,0,0,.38), inset 2px 3px 3px rgba(0,0,0,.34));
					@include background-image(linear-gradient(to bottom, #00923f, #4db017));
				}
			}
		}
	}
	.pagination-shadow{
		margin: 0 auto;
		width: 89.89%;
		&:before{
			border-radius: 45%;
		}
	}
	.pagination{
		overflow: hidden;
		width: 100%;
		position: static;
		left: auto;
		display: block;
		margin: 0;
		padding: 36px 0 74px 2px;
		&:before{
			width: 100%;
			left: -7px;
		}
	}
}

.content-discount{
	h1{
		margin: 0 0 33px 0;
	}
	.actions-block{
			p{
				color: $gray-dark;
				margin: 0 0 16px 0;
		}
			a{
				color: #009841;
				font-weight: bold;
				display: inline-block;
				margin: 0 0 14px 0;
				i{
					margin: 0 0 0 4px;
				}
			}
			.re-direct{
					line-height: 24px;
					font-weight: normal;
					font-size: 13px;
				}
			span{
				color: #009841;
				float: right;
				@extend .re-direct;
			}
			.actions-panel{
				padding: 21px 0 17px 0;
				margin: 0 0 11px 0;
				@include border-radius(10px);
				background-color: #fff;
				@include box-shadow(1px 2px 2px rgba(0,0,0,.11), inset 1px 1px rgba(0,0,0,.04));
				@include background-image(linear-gradient(to top, rgba(0,0,0,.06), rgba(255,255,255,.06)));
				a{
					color: #009841;
					font-size: 18px;
					font-weight: bold;
					margin: 0 0 14px 0;
					display: inline-block;
					text-decoration: none;
				}
				p{
					margin: 0;
				}
			}
			.actions-row{
				border-top: 1px solid #ebebeb;
				padding-top: 21px;
				padding-bottom: 20px;
				&:first-child{
					border-top: none;
				}
			}
			img{
				width: auto;
				height: auto;
				margin: 0 auto;
			}
	}

	.pagination{
		overflow: hidden;
		width: 100%;
		position: static;
		left: auto;
		display: block;
		margin: 0;
		padding: 36px 0 74px 2px;
		&:before{
			width: 100%;
			left: -7px;
		}
	}
}

.content-recognize{
	h1{
		margin: 0 0 32px 0;
	}
	.regestry-description{
		border: 1px solid #f3e9c8;
		margin: 0 0 21px 0;
		@include border-radius(10px);
		background-color: #fbf7ea;
		padding: 24px 0;
		text-align: center;
		a{
			color: #009841;
		}
	}
	.file-field{
		margin: 0 0 30px 0;
		@include border-radius(10px);
		background-color: #fff;
		border: 2px dashed #e6e6e6;
		font-size: 14px;
		padding: 55px 0;
		text-align: center;
		color: $gray;
		strong{
			font-family: "segoe_uibold";
			font-weight: bold;
		}
	}
}

.horizontal-form{
		margin: 0 0 55px 0;
		color: $gray-dark;
		h2{
			font-size: 18px;
			text-transform: uppercase;
		}
		p{
			font-size: 13px;
		}
		h2, p{
			margin: 0 0 24px 0;
		}
		label{
			position: relative;
			margin: 0 0 10px 0;
			line-height: 27px;
			display: block;
			input[type="text"]{
				padding: 0 9px;
				height: 27px;
				line-height: 27px;
				width: 59.21%;
				float: right;
				@include border-radius(10px);
				border: solid 1px #e2e2e2;
				@include background-image(linear-gradient(to bottom, #f3f3f3, #fff));
				outline: none;
				&.particular{
					height: 62px;
				}
			}
			.select, textarea{
				position: relative;
				width: 70.37%!important;
				padding: 0 9px;
				float: right;
				@include border-radius(10px);
				border: solid 1px #e2e2e2;
				@include background-image(linear-gradient(to bottom, #f3f3f3, #fff));
				outline: none;
				overflow: hidden;
			}
			textarea{
				overflow: auto;
				line-height: normal;
			}
			select{
				cursor: pointer;
				height: 27px;
				width: 110%;
				background: none;
				border: none;
				outline: none;
				position: relative;
				z-index: 7;
			}
			.select{
				position: absolute;
				right: 0px;
				height: 27px;
			}
			select+i{
				position: absolute;
				top: 0px;
				line-height: 27px;
				right: -2px;
				text-align: center;
				width: 30px;
				@include border-radius(0 10px 10px 0);
				@include background-image(linear-gradient(to bottom, #f3f3f3, #fff));
			}
			textarea{
				resize: none;
				height: 64px;
			}
			input[type="checkbox"]{
				display: none;
			}
			input[type="checkbox"]+span{
				@extend .sprites-checkbox-empty;
				display: inline-block;
				cursor: pointer;
				margin: 0 6px 0 0;
			}
			input[type="checkbox"]:checked+span{
				@extend .sprites-checkbox-checked;
			}
		}
		.calculation{
			float: right;
			width: 70.37%;
		}
		button{
			height: 40px;
			@include border-radius(10px);
			@include box-shadow(0 1px 5px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
			@include background-image(linear-gradient(to top, #00923f, #4db017));
			font-size: 18px;
			text-transform: uppercase;
			color: #efefef;
			@include text-shadow( 0px -1px 0px rgba(0, 0, 0, 0.004));
			border: none;
			outline: none;
			width: 100%;
			margin: 30px 0 0 0;
		}
	}

.pay-row{
		font-family: "Segoe UI";
		font-size: 30px;
		font-style: italic;
		font-weight: bold;
		color: #17a53b;
		sub{
			font-size: 14px;
			color: #a6a6a6;
			font-weight: normal;
			}
	}

.image-border-small{
			text-align: center;
			line-height: 140px;
			width: 140px;
			height: 140px;
			@include border-radius(10px);
			background-color: #fff;
			border: solid 1px #aeaeae;
			overflow: hidden;
		}	
	
.content-item{
	.breadcrumb{
		margin-bottom: 43px;
	}
	h1{
		margin: 0 0 43px 0;
	}
	.add-to-cart{
		font-size: 14px;
		margin: 0 0 0 26px;
		text-align: center;
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		color: #efefef;
		@include text-shadow(0px -1px 0px rgba(0, 0, 0, 0.004));
		width: 96px;
		line-height: 24px;
		@include border-radius(5px);
		@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
		@include background-image(linear-gradient(to top, #00923f, #4db017));
	}
	img{
		width: auto;
		height: auto;
		display: inline-block;
		vertical-align: middle;
	}
	article{
		margin: 0 0 40px 0;
		.image-border{
			width: 340px;
			height: 340px;
			line-height: 340px;
			@include border-radius(10px);
			background-color: #fff;
			border: solid 1px #e2e2e2;
			text-align: center;
		}
		.item-description{
			position: relative;
			padding: 0 0 0 20px;
			width: 63.82%;
			.favorites{
				color: #17a53b;
				text-decoration: none;
				border-bottom: 1px dotted #17a53b;
				position: absolute;
				right: 0px;
				top: 13px;
				&:hover{
					border-bottom: 1px dotted transparent;
				}
				i{
					position: absolute;
					left: -19px;
					top: 4px;
				}
			}
			p{
				margin: 0 0 2px 0;
				line-height: 20px;
				color: $gray-dark;
				span{
					color: #818181;
				}
			}
			.info{
				margin: 0 0 27px 0;
			}
			.header-item{
				margin: 0 0 38px 0;
			label{
				margin: 0 0 0 38px;
				input[type="text"]{
					text-align: center;
					width: 48px;
					line-height: 24px;
					@include border-radius(10px);
					border: solid 1px #e2e2e2;
					@include background-image(linear-gradient(to bottom, #f3f3f3, #fff));
					margin: 0 6px 0 0;
				}
			}
			}
		}
	}
}

.aside-bottom{
		.alike{
			margin-bottom: 33px;
		}
		h2{
			margin: 0 0 33px 0;
			position: relative;
			font-size: 18px;
			text-transform: uppercase;
			color: $gray-dark;
			&:after{
				position: absolute;
				left: 0px;
				bottom: -7px;
				content: '';
				display: inline-block;
				width: 102px;
				height: 4px;
				background: #17a53b;
			}
		}
		span, a{
			display: block;
		}
		a{
			font-size: 16px;
			color: $brand-primary;
		}
		.pay-row{
			margin: 32px 0 0 0;
		}
		.add-to-cart{
			margin: 26px 0 0 0;
		}
	}

.content-cart{
	.breadcrumb{
		margin-bottom: 12px;
	}
	h1{
		margin: 0 0 35px 0;
	}
	.cart-item-block{
		overflow: hidden;
		.cart-item-row{
			line-height: 140px;
			border-bottom: 1px solid #dcdcdc;
			padding: 9px 0;
			&:first-child{
				border-top: 1px solid #dcdcdc;
			}
		}
	}
	
	.cart-item-description{
		width: 60%;
		margin: 0 0 0 18px;
		float: left;
		a{
			font-size: 16px;
			display: inline-block;
			line-height: 18px;
			color: $brand-primary;
		}
	}
	.cart-payment{
		position: relative;
		margin: 0 136px 0 0;
		display: inline-block;
		float: right;
		.pay-row{
			font-size: 18px;
			font-weight: bold;
			font-style: italic;
			line-height: normal;
			sub{
				font-size: 18px;
				line-height: inherit;
				font-weight: normal!important;
				font-family: "segoe_uiitalic";
			}
		}
		input{
			text-align: center;
			line-height: normal;
			width: 76px;
			height: 32px;
			@include border-radius(10px);
			border: solid 1px #e2e2e2;
			@include background-image(linear-gradient(to bottom, #f3f3f3, #fff));
			margin: 0 21px;
		}
		.escape{
			position: absolute;
			color: #dd533d;
			top: 0px;
			line-height: 140px;
			right: -94px;
		}
	}
	.in-total-row{
		padding: 25px 0 52px 0;
	}
	.in-total{
		margin: 0 136px 0 0;
		float: right;
		.pay-row{
			line-height: 18px;
			text-align: center;
			sub{
				font-size: 30px;
			}
			span{
				font-size: 18px;
				font-style: italic;
				color: #a6a6a6;
				font-weight: normal;
				margin: 0 87px 0 0;
			}
		}
		
	}
	.add-to{
		text-decoration: none;
		text-align: center;
		display: block;
		width: 230px;
		line-height: 30px;
		@include border-radius(10px);
		@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
		@include background-image(linear-gradient(to top, #00923f, #4db017));
		text-transform: uppercase;
		color: #efefef;
		@include text-shadow(0px -1px 0px rgba(0, 0, 0, 0.004));
	}
	form{
		margin: 0 0 57px 0;
		.address{
			margin: 0 0 47px 0;
		}
		button{
			margin: 25px 0 0 0;
		}
		.select, textarea{
			width: 75.92% !important;
		}
		input[type="text"]{
			margin-right: 6px;
		}
	}
}

.content-cabinet{
	.breadcrumb{
		margin-bottom: 13px;
	}
	h1{
		margin: 0 0 36px 0;
	}
	h2{
		position: relative;
		@extend h1;
		margin: 0 0 30px 0;
		&:after{
			content: '';
			width: 102px;
			height: 4px;
			display: inline-block;
			position: absolute;
			left: 2px;
			background: #17a53b;
			bottom: -5px;
		}
	}
	.user-info{
		margin: 3px 0 18px 0;
		width: 80.85%;
		td{
			vertical-align: middle;
			&:first-child{
				width: 40.52%;
			}
		}
		input{
			@include border-radius(10px);
			border: solid 1px #e2e2e2;
			@include background-image(linear-gradient(to bottom, #f3f3f3, #fff));
			line-height: 27px;
			height: 27px;
			width: 100%;
			padding: 0 8px;
			@include placeholder{
				color: $gray-dark;
			}
		}
	}
	.edit-info{
		td{
			padding: 4px 0;
		}
	}
	.edit, .change{
		display: inline-block;
		color: #17a53b;
		font-weight: bold;
		text-decoration: none;
		border-bottom: 1px dotted #17a53b;
		margin: 0 0 27px 0;
		&:hover{
			border-bottom: 1px solid transparent;
		}
	}
	.save{
		@extend .change;
		@include border-radius(5px);
		background-color: #009841;
		@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
		@include background-image(linear-gradient(to top, #00923f, #4db017));
		width: 186px;
		line-height: 24px;
		font-size: 14px;
		text-transform: uppercase;
		color: #efefef;
		@include text-shadow(0px -1px 0px rgba(0, 0, 0, 0.004));
		font-weight: normal;
		text-align: center;
	}
	.user-info, .history{
		border-bottom: 1px solid #dcdcdc;
		color: $gray-dark;
	}
	.pass-reset{
		@extend .user-info;
		border: none;
		td{
			border: none;
			padding: 5px 0;
		}
		button{
			border: none;
			outline: none;
			margin: 10px 0 0 0;
			width: 160px;
			line-height: 24px;
			@include border-radius(5px);
			background-color: #009841;
			@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
			@include background-image(linear-gradient(to top, #00923f, #4db017));
			text-align: center;
			font-size: 14px;
			text-transform: uppercase;
			color: #efefef;
			@include text-shadow(0px -1px 0px rgba(0, 0, 0, 0.004));
		}
	}
	.history-header{
		margin: 0 0 12px 0;
	}
	.history{
		border-bottom: 1px solid #dcdcdc;
		color: $gray-dark;
		caption{
			color: #c3522d;
			font-style: italic;
			font-size: 13px;
			padding: 12px 0;
		}
		.order-date{
			font-weight: bold;
			font-size: 13px;
		}
		.order{
			color: #17a53b;
			border-bottom: 1px dotted #17a53b;
			text-decoration: none;
			&:hover{
				border-bottom: 1px solid transparent;
			}
		}
		.closed{
			color: #17a53b;
		}
		.in-progress{
			color: #da3a1e;
		}
		.canceled{
			color: #bebebe;
		}
		.postponed{
			color: #0780c5;
			a{
				display: block;
				color: #17a53b;
				font-size: 12px;
			}
		}
	}
	#order{
		.modal-header{
			text-align: center;
			border-bottom: none;
			h1{
				padding: 0;
				margin: 0 0 10px 0;
			}
			span{
				color: $gray;
			}
		}
		.modal-body{
			padding-left: 11px;
			padding-right: 25px;
			td{
				text-align: center;
				border: none;
			}
			.col1{
				width: 260px;
				text-align: left;
			}
			p{
				text-align: center;
				color: #4bac17;
				font-size: 18px;
				span{
					font-weight: bold;
				}
			}
		}
		.modal-footer{
			.button-group{
				margin: 0 auto;
				width: 270px;
				button{
					width: 130px;
					padding: 0;
				}
			}
			a{
				position: relative;
				margin: 26px 0 0 0;
				color: #4bac17;
				font-weight: bold;
				display: inline-block;
				i{
					position: absolute;
					color: #a9a9a9;
					left: -17px;
					top: 3px;
				}
			}
		}
	}
	form{
		margin: 0 0 26px 0;
		border: 3px solid #f2f2f2;
		@include border-radius(10px);
		background-color: #fff;
		padding: 21px 0 27px 15px;
		h2{
			margin: 0 0 33px 10px;
		}
		.checkbox{
			margin-top: 0px;
			margin-bottom: 5px;
		}
		label{
			padding-left: 0px;
			line-height: 24px;
			font-size: 13px;
		}
		input[type="checkbox"]{
				display: none;
			}
			input[type="checkbox"]+label{
				@extend .sprites-checkbox-empty;
				display: inline-block;
				cursor: pointer;
				margin: 0 9px 0 0;
				position: relative;
				top: 2px;
				span{
					position: absolute;
					top: -3px;
					left: 19px;
					display: block;
					width: 200px;
					line-height: normal;
				}
			}
			input[type="checkbox"]:checked+label{
				@extend .sprites-checkbox-checked;
			}
	}
	.favorites{
		margin: 0 0 40px 0;
		padding: 21px 0 0 6px;
		border: 3px solid #f2f2f2;
		@include border-radius(10px);
		background-color: #fff;
		a{
			margin: 16px 0 7px 0;
			text-align: center;
			display: block;
			color: $brand-primary;
		}
		.from-favorites{
				margin: 6px 0 33px 0;
				display: block;
				text-align: center;
				a{
					margin: 0;
					color: #17a53b;
					font-size: 13px;
					text-decoration: none;
					border-bottom: 1px dotted #17a53b;
					display: inline-block;
					&:hover{
						border-bottom: 1px solid transparent;
					}
				}
				i{
					color: #17a53b;
					margin: 0 6px 0 0;
				}
			}
			.pay-row{
				font-size: 18px;
				display: block;
				text-align: center;
				sub{
					font-size: 18px;
					position: relative;
					top: 0px;
				}
			}
			.image-border-smaller{
				margin: 0 auto;
				width: 90px;
				height: 90px;
				@include border-radius(10px);
				background-color: #fff;
				border: solid 1px #aeaeae;
				overflow: hidden;
				line-height: 90px;
				text-align: center;
			}
			h2{
					margin: 0 0 33px 10px!important;
				}
			aside{
				a{
					display: inline-block;
					font-size: 15px;
					color: #009841;
					text-decoration: none;
					border-bottom: 1px dotted #009841;
					margin: 0 0 9px 0;
					line-height: normal;
					&:hover{
						border-bottom: 1px solid transparent;
					}
					&.active{
						font-weight: bold;
						color: $gray-dark;
						border-bottom: none;
					}
				}
			}	
	}
	.aside-bottom{
		margin: 0 0 57px 0;
		.add-to-cart{
				font-size: 14px;
				text-align: center;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
				color: #efefef;
				@include text-shadow(0px -1px 0px rgba(0, 0, 0, 0.004));
				width: 96px;
				line-height: 24px;
				@include border-radius(5px);
				background-color: #009841;
				@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
				@include background-image(linear-gradient(to top, #00923f, #4db017));
	}
	}
}

.content-contact{
	margin-bottom: 272px;
	.breadcrumb{
		margin-top: -20px;
		margin-bottom: 43px;
	}
	h1{
		margin: 0 0 32px 0;
	}
	ul{
		li{
			line-height: 36px;
			color: #000;
			.pin{
				@extend .sprites-pin;
			}
			.phone{
				@extend .sprites-mobile;
			}
			.envelope{
				@extend .sprites-envelope;
			}
			.headphones{
				@extend .sprites-headphones;
			}
			.comment{
				@extend .sprites-comment;
			}
			span{
				display: inline-block;
				width: 30px!important;
				position: relative;
				top: 3px;
			}
			a{
				color: $brand-primary;
			}
		}
	}
	.map{
		overflow: hidden;
		width: 700px;
		height: 400px;
		@include border-radius(10px);
		@include box-shadow(0 1px 3px rgba(0,0,0,.38), inset 0 0 8px rgba(255,255,255,.7));
		position: relative;
		z-index: 99;
		iframe{
			position: absolute;
			@include border-radius(10px);
			top: 0; 
			left: 0;
			z-index: 50;
			width: 700px;
			height: 400px;
		}
	}
}


.test{
	input[type="checkbox"]{
		display: none;
	}
	input[type="checkbox"] + label{
			display: inline-block;
			width: 30px;
			height: 30px;
			background: red;
			border: 1px solid green;
			@include border-radius(50%);
	}
	input[type="checkbox"]:checked + label {
		background: purple;
	}
}