header{
    background-color:  #fff;
    font-family: 'pf_agora_slab_proregular';
    color:  #242424;
    font-size: 31.98px;
    font-weight: bold;
    line-height: 106px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-align: center;
    height: 106px;
}