.left, .right, .row, .container{
    height: 100%;
}

.left, .right{
    position: relative;
     cursor: pointer;
}

.left{
    text-align: left;
    .big{
        padding-left: 90px;
    }
    .big > a{
        color:  #207eb4;
        i{
            margin-right: 8px;
        }
    }
    .more{
        text-align: left;
    }
}

.right{
    text-align: right;
    .big{
        padding-right: 90px;
    }
    .big > a{
        color:  #b359c6;
        i{
            margin-right: 8px;
        }
    }
    .more{
        text-align: right;
    }
}

.bg-block{
    background: url(../img/main-bg.jpg);
    opacity: 1;
}

.bg-block.hover{
    opacity: 0;
}

.bg-block-l{
    background: url(../img/main-bg-r.jpg);
    opacity: 0;
}

.bg-block-r{
    background: url(../img/main-bg-l.jpg);
    opacity: 0;
}

.bg-block-l.visible{
    opacity: 1;
}

.bg-block-r.visible{
    opacity: 1;
}

.bg-block, .bg-block-l, .bg-block-r{
    @include transition(opacity 0.5s ease-in);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.main-bg{
    position: relative;
    .chose{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        text-align: center;
        span{
            color:  #494949;
            font-size: 20.98px;
            font-weight: 400;
            line-height: 128px;
            position: relative;
        }
    }
    .big{
        display: block;
        font-size: 33.8px;
        font-weight: 700;
        line-height: 22px;
        margin-top: 30px;
        margin-bottom: 40px;
        a{
            text-decoration: none;
        }
        i{
            position: relative;
            top: 14px;
        }
    }
    .nav-pills > li > a{
        display: inline-block;
        color:  #494949;
        font-size: 16.83px;
        font-weight: 400;
        line-height: 43px;
        @include border-radius(22px 21px 21px 22px, 22px 22px 21px 21px);
        background-color: #fff;
        @include box-shadow(1px 1px 3px rgba(220,229,229,.9));
        margin-bottom: 11px;
    }
    .more{
        display: block;
        color:  #696969;
        font-size: 13px;
        font-style: italic;
        line-height: 29px;
        padding: 0 5px;
    }
}

