.features__item {
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(3);
    @include make-lg-column(3);




    @media (min-width: $screen-sm-min) {
        padding-bottom: 10px;
    }

    a {
        display: block;
    }

    padding-bottom: 19px;
}