.product-detail__one {

  min-height: 1px;
  width: 50%;
  float: left;
  padding: 20px;
  @media (max-width: $screen-sm-max) {
    @include clearfix();
    float: none;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
  }

  @media print {
    padding: 0 !important;
  }
}