.header {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  hr, .hr{
    margin: $m 0;
  }
  @media (min-width: $screen-sm-min) {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    background: linear-gradient(
                    to right,
                    $brand-primary 0%,
                    $brand-primary 50%,
                    rgba(255,255,255,0) 50%,
                    rgba(255,255,255,0) 100%);
  }
}