.card-product__features-name {
  padding-right: 3px;
  display: table-cell;
  padding-top: 3px;
  width: 55%;
  vertical-align: bottom;
  &:after {
    content: '.......................................................................................................................................................................';
    position: absolute;
    height: 20px;
    overflow: hidden;
    width: 100%;
  }
}