.product-control {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;


//  @include clearfix;
  padding: 15px 27px;
  //text-align: right;
//  white-space: nowrap;
//  @media (max-width: $screen-sm-max) {
//      text-align: center;
//  }
  @media print {
    padding-left: 0 !important;
  }
}