.company__subheading {
    color: $blue-dark;
    font-family: $headings-font-family;
    font-size: $font-size-h6;
    font-weight: 700;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 15px;
}