.options-hide__show {
  padding-top: 30px;
  margin-top: -27px;
  position: relative;
  z-index: 1;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.82) 20%, #ffffff 40%);
}