.slider-comparison {
  margin-bottom: 50px;
  display: none;
  &.slick-initialized {
    display: block;
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    overflow: hidden;
    display: block;
    cursor: pointer;
    background: transparent;
    color: transparent;
    padding: 0;
    border: none;
    outline: none;
    z-index: 4;
    font-size: 68px;
    width: 24px;
    top: 15px;
    bottom: 15px;
    line-height: 1;
    transition: background 0.3s linear;
    &:hover, &:focus {
      outline: none;
      &:before {
        opacity: 1;
      }
    }
    &:hover {
      background: rgba(228,228,228,0.15);
    }
    &.slick-disabled:before {
      opacity: 0.5;
    }
  }
  .slick-prev,
  .slick-next {
    &:before {
      color: #c1c1c1;
      opacity: 1;
      font-family: FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      vertical-align: top;
      display: inline-block;
      height: 100%;
      padding-top: 50px;
    }
  }
  .slick-prev {
    left: -15px;
    &:before {
      content: "\f104";
    }
  }
  .slick-next {
    right: -15px;
    &:before {
      content: "\f105";
    }
  }
}