.nav-bar__item {
  line-height: 1;
  display: inline-block;
  position: relative;
  margin-top: -1px;
  float: none !important;
  border-top: solid 1px rgba(255,255,255, 0);
  padding: 0px 30px;
  font-size: 18px;
  @media(min-width: $screen-lg-min){
    padding: 0;

  }
  @media(max-width: $screen-md-max){
    font-size: 13px;
  }

  &:first-child {
    padding-left: 0;
    border-top: none;
  }
  @media(max-width: $screen-sm-max){

      padding: 0 4px;

  }
  @media(max-width: $screen-xs-max){
    display: block;
    font-size: 15px;
    border-top: 1px solid #e6e6e6;
    padding: 5px;
    &:before {
      display: none;
    }
  }

}