.switch {
  position: relative;
  margin: 0;
  cursor: pointer;

  &__over{
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: $input-height-base;
    padding: $padding-base-vertical $padding-base-horizontal;
    padding-right: $padding-base-horizontal *2;
    font-size: $font-size-base;
    line-height: $line-height-base;
    background-image: none;
    border: 1px solid $input-border;
    border-radius: $input-border-radius;
    font-weight: normal;
    box-shadow: 0 0 20px rgba(0, 112, 185, 0.1);

    &:before{
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 3px 0 3px;
      border-color: #1470cc transparent transparent transparent;
      position: absolute;
      top: 50%;
      margin-top: 2px;
      right: $padding-base-horizontal;
    }

    &:after{
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 3px 4px 3px;
      border-color: transparent transparent #97a4b1 transparent;
      position: absolute;
      top: 50%;
      margin-top: -7px;
      right: $padding-base-horizontal;
    }
  }

  a {
    cursor: pointer;
    color: $text-color;
    display: block;
    width: 100%;
    height: $input-height-base;
    padding: $padding-base-vertical $padding-base-horizontal;
    padding-right: $padding-base-horizontal *2;
    line-height: $line-height-base;
    background-color: lighten($input-bg, 100%);
    transition: box-shadow 0.35s ease;

    &:hover {
        box-shadow: 0 0 20px rgba(0, 112, 185, 0.25);
    }
  }
}