
.btn__count {
  color: #f24841;
  margin-left: 3px;
  @media (max-width: $screen-xs-max) {
    margin-left: 0px;
  }
  @media (max-width: 600px) {
    display: none;
  }
  .control-cart & {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    background: #f24841;
    min-width: 1.5em;
    height: 1.5em;
    border-radius: 50px;
    margin: -0.4em;
    font-size: 12px;
    padding: 0 0.5em;
  }
}