.join__slider {
    .slick-arrow {
        background: transparent;
        color: #fff;
    }

    .slick-list {
        margin: 0;
    }

    .slick-prev {
        left: 0;
        z-index: 3;
    }

    .slick-next {
        right: 0;
        z-index: 3;
    }
}