/* line 3, ../scss/finances.scss */
.finances {
  padding-top: 72px;
}
/* line 5, ../scss/finances.scss */
.finances h1 {
  color: #3a3a3a;
  font-size: 60px;
  font-weight: 300;
  line-height: 54px;
  margin-bottom: 36px;
}
/* line 12, ../scss/finances.scss */
.finances table {
  margin-bottom: 0px;
}
/* line 14, ../scss/finances.scss */
.finances table th {
  color: #333;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  background: #f1f5f6;
  padding: 15px 21px !important;
}
/* line 21, ../scss/finances.scss */
.finances table th.id {
  width: 100px;
}
/* line 24, ../scss/finances.scss */
.finances table th.date {
  width: 170px;
}
/* line 27, ../scss/finances.scss */
.finances table th.sum {
  width: 152px;
}
/* line 30, ../scss/finances.scss */
.finances table th.status {
  width: 160px;
}
/* line 34, ../scss/finances.scss */
.finances table td {
  color: #333;
  font-size: 13px;
  font-weight: 400;
  padding: 15px 19px !important;
}
/* line 39, ../scss/finances.scss */
.finances table td.minus {
  color: #cc3333;
  font-size: 13px;
  font-weight: 700;
}
/* line 44, ../scss/finances.scss */
.finances table td.plus {
  color: #669900;
  font-size: 13px;
  font-weight: 700;
}
/* line 51, ../scss/finances.scss */
.finances .pagination {
  margin-bottom: 16px;
}
/* line 53, ../scss/finances.scss */
.finances .pagination a {
  padding: 0px 18px;
  color: #3a3a3a;
  font-size: 22px;
  font-weight: 400;
  line-height: 50px;
  border: none;
  background: none;
}
/* line 61, ../scss/finances.scss */
.finances .pagination a:hover {
  background: none;
}
/* line 64, ../scss/finances.scss */
.finances .pagination a.active {
  line-height: 48px;
  padding: 0px 17px !important;
  color: #1cb0e7;
  font-size: 22px;
  font-weight: 700;
  border: 1px solid #1cb0e7 !important;
  background: none;
}
/* line 73, ../scss/finances.scss */
.finances .pagination a.direct {
  line-height: 50px !important;
  border: 1px solid transparent !important;
  padding: 0px !important;
}
/* line 78, ../scss/finances.scss */
.finances .pagination a i {
  color: #ccc;
  font-weight: normal !important;
  margin: 0;
  font-size: 32px;
}
/* line 86, ../scss/finances.scss */
.finances .top-up {
  padding: 49px 0 50px 0;
  border-top: 1px solid #e9e9e9;
  color: #333333;
  font-size: 22px;
  font-weight: 300;
  line-height: 50px;
}
/* line 93, ../scss/finances.scss */
.finances .top-up button {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  background: #1cb0e7;
  border: none;
  width: 240px;
  height: 50px;
  float: right;
}

/* line 111, ../scss/finances.scss */
.search-panel {
  padding: 19px 0 0 6px;
  border-top: 1px solid #e9e9e9;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 20px;
}
/* line 120, ../scss/finances.scss */
.search-panel .dropdown button {
  width: 210px;
  height: 40px;
  background: #f9f9f9;
  border: solid 1px #cdcdcd;
  text-align: left;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  padding: 0 0 0 20px;
  margin: 0 36px 0 16px;
}
/* line 131, ../scss/finances.scss */
.search-panel .dropdown button .caret {
  margin-left: 103px;
  border-top: 4px solid;
  border-right: 4.5px solid transparent;
  border-left: 4.5px solid transparent;
}
/* line 138, ../scss/finances.scss */
.search-panel .dropdown .dropdown-menu {
  left: 50px;
  background: #fff;
}
/* line 141, ../scss/finances.scss */
.search-panel .dropdown .dropdown-menu a {
  color: #000;
}
/* line 143, ../scss/finances.scss */
.search-panel .dropdown .dropdown-menu a:hover {
  color: #000;
  background: #fff;
  text-decoration: underline;
}
/* line 151, ../scss/finances.scss */
.search-panel label {
  margin: 0 0 0 10px;
}
/* line 154, ../scss/finances.scss */
.search-panel input[type="text"] {
  -moz-box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.07);
  box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.07);
  border: solid 1px #cdcdcd;
  width: 180px;
  height: 40px;
  margin: 0 9px 0 24px;
}
/* line 161, ../scss/finances.scss */
.search-panel .apply {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #2c4983;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f1f1f1), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(bottom, #f1f1f1, #ffffff);
  background-image: -webkit-linear-gradient(bottom, #f1f1f1, #ffffff);
  background-image: linear-gradient(to top, #f1f1f1, #ffffff);
  border: none;
  color: #333333;
  font-size: 13px;
  font-weight: 600;
  width: 148px;
  height: 40px;
  padding: 0;
  margin: 0 0 0 13px;
}
