/* line 4, ../scss/ie8.scss */
.order-service .server-type {
  -pie-box-shadow: none !important;
  behavior: url(PIE.htc);
}

/* line 10, ../scss/ie8.scss */
.server-type {
  -pie-box-shadow: 0px -4px 14.5px 0px rgba(0, 0, 0, 0.5);
  behavior: url(PIE.htc);
}

/* line 15, ../scss/ie8.scss */
.try-free .try-free-tab li.active {
  -pie-box-shadow: 0px -4px 14.5px 0px rgba(0, 0, 0, 0.5);
  behavior: url(PIE.htc);
}

/* line 20, ../scss/ie8.scss */
.try-free .bg-word {
  color: #e3eef0 !important;
  behavior: url(PIE.htc);
}

/* line 26, ../scss/ie8.scss */
.order-service input[type="radio"] {
  display: block;
  position: absolute;
  z-index: -1;
}
/* line 31, ../scss/ie8.scss */
.order-service input[type="checkbox"] {
  display: block;
  position: absolute;
  z-index: -1;
}
/* line 39, ../scss/ie8.scss */
.order-service .order-block .adwanced-options ul li {
  margin-left: 30px;
}

/* line 47, ../scss/ie8.scss */
.order-service .sing-in input[type='email'], .order-service .sing-in input[type='text'], .order-service .sing-in input[type='password'] {
  -pie-box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.07);
  behavior: url(PIE.htc);
}

/* line 52, ../scss/ie8.scss */
.order-service .order-block .server-adresss .form-control {
  -pie-box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.07);
  behavior: url(PIE.htc);
}

/* line 57, ../scss/ie8.scss */
.sum-slots td.active {
  -pie-box-shadow: 1px 2px 10px rgba(37, 37, 37, 0.15);
  behavior: url(PIE.htc);
}

/* line 62, ../scss/ie8.scss */
.servers .data button {
  position: relative;
  -pie-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  behavior: url(PIE.htc);
}

/* line 68, ../scss/ie8.scss */
.servers .data .active:before {
  -pie-background: linear-gradient(to bottom, #8ff359, #5ecd21);
  /*ie 6-9 via PIE*/
  behavior: url(PIE.htc);
}

/* line 73, ../scss/ie8.scss */
.servers .data .disable:before {
  -pie-background: linear-gradient(to bottom, #fb6b79, #e32f40);
  /*ie 6-9 via PIE*/
  behavior: url(PIE.htc);
}

/* line 78, ../scss/ie8.scss */
.control-header .balance .fa-plus {
  behavior: url(PIE.htc);
}

/* line 82, ../scss/ie8.scss */
.tickets button {
  background-color: #fff;
  position: relative;
  -pie-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -pie-background: linear-gradient(to top, #f1f1f1, #ffffff);
  behavior: url(PIE.htc);
}

/* line 90, ../scss/ie8.scss */
.tickets .comment textarea {
  position: relative;
  -pie-box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.07);
  behavior: url(PIE.htc);
}

/* line 96, ../scss/ie8.scss */
.profile .ext {
  line-height: 62px;
}
