/* line 656, sprites/*.png */
.sprites-sprite, .sprites-arrow-l, .sprites-arrow-r, .sprites-attachment, .sprites-back-arrow, .sprites-ca, .sprites-chat, .sprites-check-s, .sprites-checkbox-checked, .sprites-checkbox, .sprites-close-b, .sprites-close-icon, .sprites-close-s, .sprites-close, .faq .panel-title > .collapsed:before, .sprites-cog-a, .sprites-cog, .sprites-connect, .sprites-dk, .sprites-document-a, .sprites-document, .sprites-download, .sprites-email, .sprites-en, .sprites-faq, .sprites-gbr, .sprites-hs-1-a, .sprites-hs-1, .sprites-hs-2-a, .sprites-hs-2, .sprites-hs-3-a, .sprites-hs-3, .sprites-hs-4-a, .sprites-hs-4, .sprites-hs-5-a, .sprites-hs-5, .sprites-hs-6, .sprites-icq, .sprites-info-a, .sprites-info, .sprites-install, .sprites-key-a, .sprites-key, .sprites-list-a, .sprites-list, .sprites-lock, .sprites-mimble-small, .sprites-mimble, .sprites-nl, .sprites-open, .faq .panel-title > a:before, .sprites-payment-system, .sprites-pencil, .sprites-phone, .sprites-photographs, .sprites-pt, .sprites-radio-checked, .sprites-radio, .sprites-reply-a, .sprites-reply, .sprites-ru, .sprites-rus, .sprites-se, .sprites-set, .sprites-settings, .sprites-sprite1, .sprites-sprite2, .sprites-sprite3, .sprites-sprite4, .sprites-sprite5, .sprites-sprite6, .sprites-stats-a, .sprites-stats, .sprites-tab-sprite, .sum-slots td span.active:before, .sum-slots td span.active:after, .sprites-team-speak-small, .sprites-team-speak, .sprites-us, .sprites-user-a, .sprites-user, .sprites-ventrilo {
  background-image: url('../img/sprites-s1affbeefdb.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-arrow-l {
  background-position: 0 0;
  height: 15px;
  width: 10px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-arrow-r {
  background-position: 0 -15px;
  height: 15px;
  width: 10px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-attachment {
  background-position: 0 -30px;
  height: 24px;
  width: 21px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-back-arrow {
  background-position: 0 -54px;
  height: 7px;
  width: 5px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-ca {
  background-position: 0 -61px;
  height: 11px;
  width: 14px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-chat {
  background-position: 0 -72px;
  height: 30px;
  width: 32px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-check-s {
  background-position: 0 -102px;
  height: 15px;
  width: 17px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-checkbox-checked {
  background-position: 0 -117px;
  height: 14px;
  width: 14px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-checkbox {
  background-position: 0 -131px;
  height: 14px;
  width: 14px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-close-b {
  background-position: 0 -145px;
  height: 10px;
  width: 10px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-close-icon {
  background-position: 0 -155px;
  height: 9px;
  width: 9px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-close-s {
  background-position: 0 -164px;
  height: 17px;
  width: 17px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-close, .faq .panel-title > .collapsed:before {
  background-position: 0 -181px;
  height: 15px;
  width: 10px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-cog-a {
  background-position: 0 -196px;
  height: 12px;
  width: 12px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-cog {
  background-position: 0 -208px;
  height: 12px;
  width: 12px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-connect {
  background-position: 0 -220px;
  height: 15px;
  width: 16px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-dk {
  background-position: 0 -235px;
  height: 11px;
  width: 14px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-document-a {
  background-position: 0 -246px;
  height: 11px;
  width: 10px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-document {
  background-position: 0 -257px;
  height: 11px;
  width: 10px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-download {
  background-position: 0 -268px;
  height: 28px;
  width: 32px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-email {
  background-position: 0 -296px;
  height: 20px;
  width: 32px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-en {
  background-position: 0 -316px;
  height: 11px;
  width: 14px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-faq {
  background-position: 0 -327px;
  height: 31px;
  width: 32px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-gbr {
  background-position: 0 -358px;
  height: 11px;
  width: 14px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-hs-1-a {
  background-position: 0 -369px;
  height: 17px;
  width: 16px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-hs-1 {
  background-position: 0 -386px;
  height: 17px;
  width: 16px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-hs-2-a {
  background-position: 0 -403px;
  height: 10px;
  width: 16px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-hs-2 {
  background-position: 0 -413px;
  height: 10px;
  width: 16px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-hs-3-a {
  background-position: 0 -423px;
  height: 14px;
  width: 16px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-hs-3 {
  background-position: 0 -437px;
  height: 14px;
  width: 16px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-hs-4-a {
  background-position: 0 -451px;
  height: 12px;
  width: 16px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-hs-4 {
  background-position: 0 -463px;
  height: 12px;
  width: 16px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-hs-5-a {
  background-position: 0 -475px;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-hs-5 {
  background-position: 0 -491px;
  height: 16px;
  width: 16px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-hs-6 {
  background-position: 0 -507px;
  height: 12px;
  width: 16px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-icq {
  background-position: 0 -519px;
  height: 33px;
  width: 33px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-info-a {
  background-position: 0 -552px;
  height: 13px;
  width: 13px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-info {
  background-position: 0 -565px;
  height: 13px;
  width: 13px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-install {
  background-position: 0 -578px;
  height: 104px;
  width: 104px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-key-a {
  background-position: 0 -682px;
  height: 8px;
  width: 14px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-key {
  background-position: 0 -690px;
  height: 8px;
  width: 14px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-list-a {
  background-position: 0 -698px;
  height: 10px;
  width: 12px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-list {
  background-position: 0 -708px;
  height: 10px;
  width: 12px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-lock {
  background-position: 0 -718px;
  height: 141px;
  width: 123px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-mimble-small {
  background-position: 0 -859px;
  height: 25px;
  width: 28px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-mimble {
  background-position: 0 -884px;
  height: 38px;
  width: 41px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-nl {
  background-position: 0 -922px;
  height: 11px;
  width: 14px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-open, .faq .panel-title > a:before {
  background-position: 0 -933px;
  height: 10px;
  width: 15px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-payment-system {
  background-position: 0 -943px;
  height: 101px;
  width: 959px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-pencil {
  background-position: 0 -1044px;
  height: 15px;
  width: 15px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-phone {
  background-position: 0 -1059px;
  height: 32px;
  width: 18px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-photographs {
  background-position: 0 -1091px;
  height: 12px;
  width: 12px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-pt {
  background-position: 0 -1103px;
  height: 11px;
  width: 14px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-radio-checked {
  background-position: 0 -1114px;
  height: 14px;
  width: 14px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-radio {
  background-position: 0 -1128px;
  height: 14px;
  width: 14px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-reply-a {
  background-position: 0 -1142px;
  height: 14px;
  width: 12px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-reply {
  background-position: 0 -1156px;
  height: 14px;
  width: 12px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-ru {
  background-position: 0 -1170px;
  height: 11px;
  width: 14px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-rus {
  background-position: 0 -1181px;
  height: 11px;
  width: 14px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-se {
  background-position: 0 -1192px;
  height: 11px;
  width: 14px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-set {
  background-position: 0 -1203px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-settings {
  background-position: 0 -1223px;
  height: 32px;
  width: 32px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-sprite1 {
  background-position: 0 -1255px;
  height: 64px;
  width: 64px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-sprite2 {
  background-position: 0 -1319px;
  height: 64px;
  width: 64px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-sprite3 {
  background-position: 0 -1383px;
  height: 64px;
  width: 64px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-sprite4 {
  background-position: 0 -1447px;
  height: 60px;
  width: 64px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-sprite5 {
  background-position: 0 -1507px;
  height: 64px;
  width: 64px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-sprite6 {
  background-position: 0 -1571px;
  height: 64px;
  width: 64px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-stats-a {
  background-position: 0 -1635px;
  height: 12px;
  width: 11px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-stats {
  background-position: 0 -1647px;
  height: 12px;
  width: 11px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-tab-sprite, .sum-slots td span.active:before, .sum-slots td span.active:after {
  background-position: 0 -1659px;
  height: 18px;
  width: 17px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-team-speak-small {
  background-position: 0 -1677px;
  height: 27px;
  width: 26px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-team-speak {
  background-position: 0 -1704px;
  height: 38px;
  width: 38px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-us {
  background-position: 0 -1742px;
  height: 11px;
  width: 14px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-user-a {
  background-position: 0 -1753px;
  height: 12px;
  width: 11px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-user {
  background-position: 0 -1765px;
  height: 12px;
  width: 11px;
}

/* line 84, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-ventrilo {
  background-position: 0 -1777px;
  height: 39px;
  width: 38px;
}

/* line 7, ../scss/tarifs.scss */
.tarif-type {
  margin-top: 73px;
  margin-bottom: 26px;
  position: relative;
  background: #fff;
  text-align: center;
}
/* line 13, ../scss/tarifs.scss */
.tarif-type .tarif-header {
  margin-bottom: 71px;
}
/* line 16, ../scss/tarifs.scss */
.tarif-type h1 {
  color: #3a3a3a;
  font-size: 60px;
  font-weight: 300;
  line-height: 54px;
}
/* line 22, ../scss/tarifs.scss */
.tarif-type button {
  border: 1px solid #cdcdcd;
  background: #f9f9f9;
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  padding: 22px 24px 22px 19px;
  margin-top: 4px;
}
/* line 31, ../scss/tarifs.scss */
.tarif-type .dropdown-menu {
  margin: 0px 0 0;
  min-width: 121px;
  background: #fff;
  border: none;
}
/* line 36, ../scss/tarifs.scss */
.tarif-type .dropdown-menu a {
  color: #666666;
}
/* line 38, ../scss/tarifs.scss */
.tarif-type .dropdown-menu a:hover {
  background: #fff;
  text-decoration: underline;
}
/* line 44, ../scss/tarifs.scss */
.tarif-type .caret {
  margin: 0 0 0 36px;
  border-top: 5px solid;
  border-right: 4px solid transparent;
  border-left: 5px solid transparent;
}
/* line 50, ../scss/tarifs.scss */
.tarif-type div {
  text-align: left;
}
/* line 53, ../scss/tarifs.scss */
.tarif-type .tarif-select {
  margin: 31px 0 35px 3px;
}
/* line 55, ../scss/tarifs.scss */
.tarif-type .tarif-select li {
  margin-top: 5px;
}
/* line 58, ../scss/tarifs.scss */
.tarif-type .tarif-select .active {
  width: 245px;
  border: 3px solid #1cb0e7;
  position: relative;
}
/* line 62, ../scss/tarifs.scss */
.tarif-type .tarif-select .active a, .tarif-type .tarif-select .active a:hover {
  text-decoration: none;
}
/* line 65, ../scss/tarifs.scss */
.tarif-type .tarif-select .active:before {
  content: '';
  position: absolute;
  right: -24px;
  top: -3px;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-left: 21px solid #1cb0e7;
  border-bottom: 35px solid transparent;
}
/* line 76, ../scss/tarifs.scss */
.tarif-type .tarif-select .active:after {
  content: '';
  position: absolute;
  right: -19px;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-left: 19px solid #fff;
  border-bottom: 32px solid transparent;
}
/* line 87, ../scss/tarifs.scss */
.tarif-type .tarif-select .active span {
  border-bottom: none;
  color: #1cb0e7;
}
/* line 92, ../scss/tarifs.scss */
.tarif-type .tarif-select a {
  position: relative;
  display: inline-block;
  padding: 0 0 0 70px;
  margin: 0;
  color: #333333;
  font-size: 26px;
  font-weight: 400;
  line-height: 64px;
  height: 64px;
  text-align: left;
}
/* line 103, ../scss/tarifs.scss */
.tarif-type .tarif-select a span {
  border-bottom: 1px dotted #333333;
}
/* line 106, ../scss/tarifs.scss */
.tarif-type .tarif-select a i {
  position: absolute;
  left: 16px;
  top: 16px;
  display: inline-block;
}
/* line 112, ../scss/tarifs.scss */
.tarif-type .tarif-select a:hover {
  text-decoration: none;
}
/* line 117, ../scss/tarifs.scss */
.tarif-type .tarif {
  padding: 44px 0 0 37px;
}
/* line 119, ../scss/tarifs.scss */
.tarif-type .tarif .tarif-description {
  position: relative;
  padding: 23px 60px 36px 32px;
  border: 1px solid #e7e7e7;
  border-top: 3px solid #1cb0e7;
}
/* line 124, ../scss/tarifs.scss */
.tarif-type .tarif .tarif-description:before {
  content: '';
  position: absolute;
  left: -20px;
  top: 21px;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-right: 20px solid #e7e7e7;
  border-bottom: 20px solid transparent;
}
/* line 135, ../scss/tarifs.scss */
.tarif-type .tarif .tarif-description:after {
  content: '';
  position: absolute;
  left: -18px;
  top: 22px;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-right: 20px solid #fff;
  border-bottom: 18px solid transparent;
}
/* line 146, ../scss/tarifs.scss */
.tarif-type .tarif .tarif-description p {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

/* line 156, ../scss/tarifs.scss */
.sum-slots {
  padding: 70px 0;
  background: #f1f5f6;
  text-align: center;
}
/* line 160, ../scss/tarifs.scss */
.sum-slots .table {
  margin-bottom: 36px;
}
/* line 163, ../scss/tarifs.scss */
.sum-slots td {
  padding: 0px !important;
}
/* line 165, ../scss/tarifs.scss */
.sum-slots td span {
  display: block;
  padding: 21px;
  text-align: center;
  color: #3a3a3a;
  font-size: 20px;
  font-weight: 400;
  margin: -1px -1px;
  padding: 22px 21px;
}
/* line 174, ../scss/tarifs.scss */
.sum-slots td span.active {
  position: relative;
  border: none !important;
  border-top: none !important;
  color: #1cb0e7;
  font-size: 20px;
  font-weight: 600;
  -moz-box-shadow: 1px 2px 10px rgba(37, 37, 37, 0.15);
  -webkit-box-shadow: 1px 2px 10px rgba(37, 37, 37, 0.15);
  box-shadow: 1px 2px 10px rgba(37, 37, 37, 0.15);
  background: #fff;
}
/* line 183, ../scss/tarifs.scss */
.sum-slots td span.active:before {
  content: '';
  position: absolute;
  left: 19px;
  top: 25px;
}
/* line 190, ../scss/tarifs.scss */
.sum-slots td span.active:after {
  content: '';
  position: absolute;
  right: 19px;
  top: 25px;
}
/* line 202, ../scss/tarifs.scss */
.sum-slots button {
  text-transform: uppercase;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  line-height: 50px;
  background: #1cb0e7;
  border: none;
  padding: 0px 38px;
}

/* line 214, ../scss/tarifs.scss */
.faq {
  margin-bottom: 64px;
}
/* line 216, ../scss/tarifs.scss */
.faq h1 {
  color: #3a3a3a;
  font-size: 60px;
  font-weight: 300;
  line-height: 54px;
  margin: 73px 0 83px 0;
}
/* line 223, ../scss/tarifs.scss */
.faq .panel {
  box-shadow: none;
}
/* line 226, ../scss/tarifs.scss */
.faq .panel-default {
  border: none;
}
/* line 229, ../scss/tarifs.scss */
.faq .panel-default > .panel-heading {
  background: none;
  border: none;
  padding: 0;
}
/* line 234, ../scss/tarifs.scss */
.faq .panel-group .panel-heading + .panel-collapse > .panel-body, .faq .panel-group .panel-heading + .panel-collapse > .list-group {
  border: none;
}
/* line 237, ../scss/tarifs.scss */
.faq .collapse.in {
  border-bottom: 1px solid #e9e9e9;
}
/* line 240, ../scss/tarifs.scss */
.faq .panel-title > .collapsed {
  border-top: none;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 14px;
}
/* line 244, ../scss/tarifs.scss */
.faq .panel-title > .collapsed:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 30px;
}
/* line 252, ../scss/tarifs.scss */
.faq .panel-title > a {
  text-decoration: none;
  display: block;
  border-top: 3px solid #1cb0e7;
  color: #333333;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  padding: 5px 0 0 38px;
  position: relative;
}
/* line 262, ../scss/tarifs.scss */
.faq .panel-title > a:before {
  content: '';
  position: absolute;
  left: 7px;
  top: 33px;
}
/* line 270, ../scss/tarifs.scss */
.faq .panel-body {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 4px 0 0 40px;
  margin-bottom: 28px;
}
/* line 278, ../scss/tarifs.scss */
.faq .panel-group .panel + .panel {
  margin-top: 0px;
}
