@keyframes bounceOutUp {
  10% {
    transform: translate3d(0, 0px, 0);
  }
  75% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -150%, 0);
  }
}

.catalog_out-up {
  display: block;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: bounceOutUp;
}
