.title-page {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-transform: none;
    font-family: $font-PT;
    @media (max-width: $screen-xs-max) {
      font-size: 24px;
    }
}
