.sticky {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  &:after, &:before{content: none !important;}
  &__sidebar{position: relative}
  &__control{
    @media (min-width: $screen-sm-min) {
      top: 0;
      position: relative;
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      position: sticky;
    }
  }
  &__more{
    padding: $grid-gutter-width 0 0;
    color: $link-color;
    text-decoration: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    .icomoon, .fa{
      font-size: 2em;
      vertical-align: middle;
    }
    .span{border-bottom: 1px dotted}
    &:hover{
      color: $link-hover-color;
    }
  }
}