.settings {
    float: right;
    border-radius: 3px;
    background-color: $blue;
    color: #fff;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    border: none;
    box-shadow: none;
    padding: 0 26px;
}