.order-item__col_column {
  &_one {
    width: 11.4%;
    @media (max-width: $screen-md-max) {
      width: 25%;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
  &_two {
    width: 34.4%;
    @media (max-width: $screen-md-max) {
      width: 75%;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
  &_three {
    width: 13%;
    @media (max-width: $screen-md-max) {
      width: 25%;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
  &_four {
    width: 41.2%;
    @media (max-width: $screen-md-max) {
      width: 75%;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
  &_table {
    width: 88.6%;
    @media (max-width: $screen-md-max) {
      width: 100%;
    }
  }
  &_more {
    margin-left: 11.4%;
    width: 30.6%;
    @media (max-width: $screen-md-max) {
      width: 25%;
      margin-left: 0;
      width: 42%;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
      text-align: right;
    }
  }
  &_group-control {
    width: 58%;
    text-align: right;
    .btn + .btn {
      margin-left: 23px;
    }
    @media (max-width: $screen-xs-max) {
      width: 100%;
      text-align: center;
    }
  }
}
