.section-description__question {
    @include make-sm-column(12);
    @include make-sm-column(3);
    @include make-md-column(3);
    @include make-lg-column(2.3);

    h3 {
        line-height: 25px;
        margin-bottom: 27px;
    }

    .btn {
        padding: 5px 29px;
    }
}