.slider-article__item {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  margin: $grid-gutter-width/2;
  color: inherit !important;
  text-decoration: none !important;
  padding: 20px $grid-gutter-width/2;
}