
.iv-logo{
  &:after{
    content: '';
    display: table;
    clear: both;
  }
  display: inline-block;
@media(max-width: $screen-xs-max){
  text-align: center;
  float: none;
  display: block;
  margin-bottom: 10px;
}
&__text{
  float: left;
  color: #464646;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  line-height: 23px;
  &:hover, &:focus{
    text-decoration: none;
    color: #464646;
  }
  @media(max-width: $screen-xs-max){
    float: none;
  }
}

  &__container{
    width: 170px;
    float: right;
    height: 24px;
    background: url(../../../images/iv-logo.svg) no-repeat;
    background-size: 169px auto;
    position: relative;
    @media(max-width: $screen-xs-max){
      float: none;
      margin: 0 auto;
      text-align: left;
    }
  }
}
