article.article-photo
    |{block:Posts}
    |{block:Photo}
    img(src='{PhotoURL-HighRes}', alt='{PhotoAlt}')
    |{block:Caption}
    div {Caption}
    |{/block:Caption}
    |{/block:Photo}
    |{/block:Posts}
