.btn_cart {
  font-size: 15px;
  padding: 7px 10px;
  width: 100%;
//  @media (max-width: $screen-md-max) {
//    padding: 5px 7px 5px 5px;
//    font-size: 14px;
//    width: auto;
//  }
  &:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url("../img/cart_white.png#btnicon");
    background-repeat: no-repeat;
    margin-right: 8px;
    margin-bottom: -2px;
  }
}