.footer__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
  @media(max-width: $screen-md-max){
    flex-wrap: wrap;
  }
  @media(max-width: $screen-xs-max){
    flex-direction: column;

  }
}