.product-slider__item {
  display: block;
  position: relative;
  &:before {
    content: "\f00e";
    font-family: FontAwesome;
    font-size: 27px;
    color: #d1d1d1;
    position: absolute;
    top: 4px;
    left: 4px;
    display: block;
    transition: color 0.4s linear
  }
  &:hover {
    &:before {
      color: #333333;
    }
  }
  .img-responsive {
    margin: 0 auto;
    @media (max-width: $screen-sm-max) {
        margin: auto;
    }
  }
}