.become-customer__information {
    padding-top: 43px;
    padding-bottom: 61px;
    margin-bottom: 52px;
    background-color: #303030;

    @include make-lg-column-offset(1);
    @include make-lg-column(11);



    //@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    //    border-radius: 0;
    //}
    //
    //@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    //    border-radius: 0;
    //}
    //
    //@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    //    border-radius: 10px;
    //}
    //
    //@media (min-width: $screen-lg-min) {
    //    border-radius: 10px;
    //}
}