html, body {
    min-height: 100%;/* задаем документу высоту 100% от окна браузера */
}

body {
    background-repeat: no-repeat;/* убираем повторение фона */
    background-size: cover;/* растягиваем фон на всю ширину и высоту body */
}

* {
    box-sizing: border-box;/* задаем правильную блочную модель у всех элементов страницы */
}

.main-heading {
    text-align: center;/*центрируем текст в заголовке*/
}

.container {
    width: 1170px;/*задаем ширину контейнеру*/
    margin: 0 auto;/*центрируем контейнер*/
}

.gallery {
    display: flex;/*включаем отображение флексбоксов*/
    flex-direction: row;/*задаем направление внутренних блоков в строку*/
    flex-wrap: wrap;/*если элементов больше 5 включаем перенос на следующую строку*/
    justify-content: space-between;/*равномерное выравнивание блоков по ширине*/
    margin: 0 -15px 15px -15px;/*отступы от gallery*/
}

.gallery__item {
    flex-shrink: 0;/*убираем сжатие блоков при нехватке места*/
    flex-basis: 20%;/*ширина блока с картинкой*/
    padding: 0 15px;/*боковые отступы у блоков с изображениями */
    cursor: pointer;/*задаем изменение курсора при наведении на блок*/
}

.gallery__item img {
    width: 100%;/*растягиваем изображение на ширину блока gallery__item*/
}

.zoom-view {
    width: 80%;/*ширина блока с большой картинкой*/
    margin: 0 auto;/*центрирование блока с большой картинкой*/
    height: 500px;/*высота блока с большой картинкой*/
    overflow: hidden;/*обрезаем внутренний контент если что то вдруг будет вылазить за границы блока */
    background: #fff;/*задаем блоку белый фон*/
    border: 1px solid #013a30;/*задаем блоку зеленую рамку*/
}

.zoom-view img {
    margin: 0 auto;/*центрируем изображение внутри zoom-view*/
    height: 100%;/*растягиваем изображение внутри zoom-view по высоте блока*/
}