.nav-bar {

  list-style: none;
 width: 100%;
  position: relative;
  z-index: 2;
  margin: 0;
  border-radius: 0px !important;
  min-height: 0 !important;
  border: none;
  @media(min-width: $screen-lg-min){
    padding: 22px 0 24px;
  }
  @media(max-width: $screen-md-max){
    padding: 15px 0;
  }
  &__list{
    overflow: hidden !important;
    padding: 0;
  }

  .navbar-header {
    padding:  0;

  }

  //.navbar-toggle span.icon-bar{
  //  background: #fff;
  //  height: 6px;
  //  border-radius: 50%;
  //  width: 6px;
  //
  //}
  //.navbar-toggle{
  //  margin: 17px 0;
  //  padding: 11px 19px;
  //}
  //
  //.nav-bar .navbar-toggle {
  //  padding-right: 10px;
  //  padding-left: 29px;
  //}
  ul{
    margin: 0;
  }
  @media (max-width: $screen-xs-max) {
    padding: 0;
  }

.navbar-header:before {
    content: '';
  width: calc(100% + 30px);
    height: 84px;
    left: -15px;
    top: 0;
    position: absolute;
    background: #337ab7;
}




    .nav-bar__logo {
     margin: 9px 0;
    }


}






