.collapse_fast-filter{
  @media (min-width: $screen-md-min) {
    height: auto !important;
    display: block !important;
  }
  &_xs{
    @media (min-width: $screen-sm-min) {
      display: none !important;
    }
  }
}
.filter-fast{
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  padding: $grid-gutter-width/4 $grid-gutter-width/2;
  position: relative;
  border-top: 1px solid #e2e2e2;
  .row{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .col-xs-12{
    padding: $grid-gutter-width/4  $grid-gutter-width/2;
  }
  @media (min-width: $screen-md-min) {
    margin-top: -31px;
  }
  &__item{
    font-size: $font-size-small;
    color: inherit;
    text-decoration: none !important;
    position: relative;
    display: block;
    &:hover, &:focus, &:active, &.active{
      color: $link-color;
      &:before{
        font-family: FontAwesome;
        color: $link-color;
        content: "\f00c";
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  &__image{
    display: table-cell;
    vertical-align: top;
  }
  &__text{
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
  }
}