$sprites-sprite-dimensions: true;
@import "compass/utilities/sprites";
@import "sprites/*.png";
@include all-sprites-sprites;

.support{
    margin-bottom: 175px;
    padding-top: 72px;
    h1{
        color:  #3a3a3a;
        font-size: 60px; 
        font-weight: 300;
        line-height: 54px;
    }
   button{
        width: 210px;
        height: 50px;
        color:  #fff;
        font-size: 17px; 
        font-weight: 700;
        line-height: 50px;
        background: #1cb0e7;
        border: none;
        margin: 0 0 0 10px;
   }
    .drop-buttons{
        margin: 7px 0 0 0;
    }
    .drop-ticket{
        width: 160px;
        height: 50px;
        border: solid 1px #cdcdcd;
        padding: 16px 18px;
        a{
            position: relative;
            color:  #666;
            font-size: 14px; 
            font-weight: 400;
            span{
                position: absolute;
                top: 7px;
                right: -35px;
                border-top: 4px solid;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
            }
        }
        .dropdown-menu{
            background-color: #fff;
            a{
                color:  #666;
                &:hover{
                    color:  #666;
                    text-decoration: underline;
                    background: none;
                }
            }
        }
    }
    .table{
        margin-top: 40px;
        th{
            background: #f1f5f6;
            padding: 15px 25px;
            color:  #333;
            font-size: 13px; 
            font-weight: 400;
            &.group{
                width: 179px;
            }
            &.stat{
                width: 154px;
            }
        }
        td{
            padding: 0px 0px 0px 25px;
            color:  #333;
            font-size: 13px; 
            font-weight: 400;
            line-height: 48px;
            &.closed{
                color:  #669900;
                font-weight: 700;
            }
            &.freez{
                color:  #cc3333;
                font-weight: 700;
            }
        }
        .question{
            color:  #00a4e1;
            font-size: 14px; 
            font-weight: 400;
        }
        .answer{
            color:  #999999;
            font-size: 13px; 
            font-weight: 400;
            margin: 0 0 0 8px;
        }
        i{
            margin: 0 13px -4px 0;
            &.check-s{
                @extend .sprites-check-s;
            }
            &.close-s{
                @extend .sprites-close-s;
            }
            &.attach{
                @extend .sprites-attachment;
                float: right;
                margin: 13px 15px 0 0;
            }
        }
    }
}