.section-collapse__text {
    strong, p {
        color: $tooltip-color;
        font-size: 16px;
        font-family: $font-PT;
        line-height: 21px;
    }

    h3 {
        margin: 23px 0 22px 0;
        font-weight: 400;
    }

    strong {
        font-weight: 700;
    }

    p {
        font-weight: 400;
        margin-bottom: 30px;
    }

    @media (max-width: $screen-xs-min) {
        h3 {
            margin: 10px 0 18px 0;
            font-size: 20px;
        }

        strong, p {
            font-size: 14px;
            line-height: 18px;
        }
    }
}