.list-orders__control {
  text-align: center;
  white-space: nowrap;
  clear: both;
  @media (min-width: $screen-md-min) {
    margin-left: 0;
    float: none;
    clear: none;
    display: table-cell;
    width: 1%;
    vertical-align: middle;
  }
}