.card-product-line__border {
  position: absolute;
  height: 100%;
  border-left: 1px solid #d4d4d4;
  top: 0;
  right: 185px;
  @media (max-width: $screen-sm-max) {
    position: relative;
    border-top: 1px solid #d4d4d4;
    left: 0;
    right: 0;
    margin-right: -23px;
    margin-left: -23px;
  }
}